flows_kodi.json
[{"id":"450d0d20.7f1e2c","type":"tab","label":"Terrasse","disabled":false,"info":""},{"id":"a0bc08fa.831148","type":"tab","label":"Heizung","disabled":false,"info":""},{"id":"98d1d6d3.533d8","type":"tab","label":"Sensoren T","disabled":false,"info":""},{"id":"aa1f09f3.b20558","type":"tab","label":"Licht","disabled":false,"info":""},{"id":"b0208d5a.6407e","type":"tab","label":"Powplug","disabled":false,"info":""},{"id":"5d53e9ec.28daa","type":"tab","label":"Rollladensteuerung","disabled":false,"info":""},{"id":"b1002e85.77af28","type":"tab","label":"Blindtest","disabled":true,"info":""},{"id":"71362dd5.7e03dc","type":"tab","label":"global","disabled":false,"info":""},{"id":"e19011a1.5e7418","type":"tab","label":"test","disabled":false,"info":""},{"id":"3487ba0b.3c30fe","type":"subflow","name":"Thermostat","info":"","category":"","in":[{"x":60,"y":240,"wires":[{"id":"b03c381c.5ce2e"}]}],"out":[{"x":760,"y":220,"wires":[{"id":"ea1f3391.a645b8","port":0}]},{"x":760,"y":260,"wires":[{"id":"ea1f3391.a645b8","port":1}]}],"env":[{"name":"soll","type":"num","value":"21.0","ui":{"label":{"en-US":"Soll [°C]"},"type":"input","opts":{"types":["num"]}}},{"name":"hyst","type":"num","value":"0.5","ui":{"label":{"en-US":"Hysterese [°C]"},"type":"input","opts":{"types":["num"]}}},{"name":"back","type":"num","value":"0.2","ui":{"label":{"en-US":"Rückführung [°C]"},"type":"input","opts":{"types":["num"]}}},{"name":"ticktime","type":"num","value":"10","ui":{"label":{"en-US":"Samplezeit [Sek]"},"type":"input","opts":{"types":["num"]}}},{"name":"Name","type":"str","value":""},{"name":"low","type":"str","value":"19","ui":{"label":{"en-US":"Absenktemperatur"}}},{"name":"high","type":"str","value":"20","ui":{"label":{"en-US":"Normaltemperatur"}}},{"name":"crontimes","type":"json","value":"{\"low\":[\"0 0 20 * * * *\"],\"high\":[\"0 0 8 * * * *\"]}"}],"color":"#DEBD5C","outputLabels":["mqtt","dashboard"],"icon":"node-red-node-rbe/rbe.png"},{"id":"bdf5ea3f.af43","type":"subflow","name":"offset","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"c1bc24c7.82b1b"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"c1bc24c7.82b1b","port":0}]}],"env":[{"name":"offset","type":"num","value":"0","ui":{"type":"input","opts":{"types":["num"]}}}],"color":"#E2D96E","icon":"font-awesome/fa-plus-square-o"},{"id":"d4053697.493c7","type":"subflow","name":"Rollladen","info":"","category":"","in":[{"x":70,"y":150,"wires":[{"id":"991b01f9.9e0108"}]}],"out":[{"x":850,"y":150,"wires":[{"id":"7259b8ed.40eba8","port":0}]}],"env":[{"name":"tempwarm","type":"num","value":"25"},{"name":"azstart","type":"str","value":"90"},{"name":"azend","type":"str","value":"270"},{"name":"mor_earl","type":"str","value":""},{"name":"mor_earl_we","type":"str","value":""},{"name":"ev_lat","type":"str","value":""},{"name":"name","type":"str","value":""},{"name":"nightclose","type":"bool","value":"true"}],"color":"#FFCC66","icon":"node-red-contrib-sun-position/blind-white.svg"},{"id":"6b5e0528.961f24","type":"subflow","name":"fhemcmd roll","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"8d2d43e8.ba1db8"}]}],"out":[],"env":[{"name":"fhemname","type":"str","value":""},{"name":"name","type":"str","value":""},{"name":"tup","type":"num","value":"5"},{"name":"twait","type":"str","value":"60"}],"color":"#D8BFD8","icon":"node-red/bridge-dash.svg"},{"id":"30d8cc93.fb7a64","type":"subflow","name":"Dash Roll","info":"","category":"","in":[],"out":[{"x":830,"y":130,"wires":[{"id":"5b4619b8.25f4d8","port":0},{"id":"20da3fb1.1a0838","port":0},{"id":"e18ea8fd.03c95","port":0},{"id":"5a6b84cf.d91704","port":0}]}],"env":[{"name":"fhemmqtt","type":"str","value":""},{"name":"label","type":"str","value":""},{"name":"name","type":"str","value":""}],"color":"#3FADB5","icon":"node-red-contrib-sun-position/blind-white.svg"},{"id":"7ba92310.5f9f9c","type":"mqtt-broker","name":"kodi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12f317c6.04caa8","type":"ui_group","name":"Licht","tab":"6825bb45.650dc4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6825bb45.650dc4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3707442.98b97bc","type":"ui_base","theme":{"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"},"customTheme":{"baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","default":"#4B7930","name":"Untitled Theme 1"},"darkTheme":{"baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","default":"#097479","edited":true,"reset":false},"lightTheme":{"baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","default":"#0094CE","edited":true,"reset":false},"name":"theme-light","themeState":{"base-color":{"default":"#0094CE","edited":false,"value":"#0094CE"},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"group-backgroundColor":{"edited":false,"value":"#ffffff"},"group-borderColor":{"edited":false,"value":"#ffffff"},"group-textColor":{"edited":false,"value":"#1bbfff"},"page-backgroundColor":{"edited":false,"value":"#fafafa"},"page-sidebar-backgroundColor":{"edited":false,"value":"#ffffff"},"page-titlebar-backgroundColor":{"edited":false,"value":"#0094CE"},"widget-backgroundColor":{"edited":false,"value":"#0094ce"},"widget-borderColor":{"edited":false,"value":"#ffffff"},"widget-textColor":{"edited":false,"value":"#111111"}}},"site":{"allowSwipe":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","hideToolbar":"false","lockMenu":"false","name":"Test","sizes":{"cx":6,"cy":6,"gx":6,"gy":6,"px":0,"py":0,"sx":48,"sy":48}}},{"id":"6c9a8770.69d218","type":"ui_group","name":"Terrasse","tab":"6825bb45.650dc4","order":3,"disp":true,"width":"6","collapse":false},{"id":"120912a.adba76d","type":"homekit-accessory","accessoryName":"NodeRedTest","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"5"},{"id":"ee8f746c.a7211","type":"ui_group","name":"ebike","tab":"6825bb45.650dc4","order":4,"disp":true,"width":"6","collapse":false},{"id":"b550babf.70f108","type":"influxdb","hostname":"nas","port":"8086","protocol":"http","database":"nr_test","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"bfddb128.b86098","type":"ui_group","name":"Verlauf","tab":"7ede7113.eafd38","order":2,"disp":false,"width":"6","collapse":false},{"id":"7ede7113.eafd38","type":"ui_tab","name":"Temperatur","icon":"dashboard","disabled":false,"hidden":false},{"id":"9894cdd4.90d538","type":"ui_group","name":"Temperatur","tab":"7ede7113.eafd38","order":1,"disp":false,"width":"6","collapse":false},{"id":"9cdd0771.1cfdb8","type":"position-config","name":"quelle","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"1c67a074.861f4","type":"ui_group","name":"Default","tab":"8e4884bb.ff1388","order":1,"disp":true,"width":"6"},{"id":"8e4884bb.ff1388","type":"ui_tab","name":"testing","icon":"dashboard"},{"id":"980dd498.72f598","type":"ui_group","name":"Rollladen","tab":"6825bb45.650dc4","order":2,"disp":true,"width":"6","collapse":false},{"id":"13fbce27.db5682","type":"pioneer-avr-config","hostname":"Pioneer","port":"8102","volumeMultiplier":0.4897959183673469,"name":""},{"id":"a314bbb3.f44288","type":"mqtt out","z":"aa1f09f3.b20558","name":"Dimmer","topic":"shellies/shellydimmer-F3622F/light/0/set","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":830,"y":170,"wires":[]},{"id":"9c06834b.11833","type":"ui_switch","z":"aa1f09f3.b20558","name":"treppe sw","label":"","tooltip":"","group":"12f317c6.04caa8","order":2,"width":"1","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":170,"wires":[["19ce5b56.0ca635"]]},{"id":"1bb710a3.e7cdaf","type":"mqtt in","z":"aa1f09f3.b20558","name":"Dimmer Status","topic":"shellies/shellydimmer-F3622F/light/0/status","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":120,"y":120,"wires":[["3e0382cc.928a76","33a490ac.690038"]]},{"id":"5def2b0.2ecfbd4","type":"change","z":"aa1f09f3.b20558","name":"2shelly","rules":[{"p":"payload","pt":"msg","t":"move","to":"payload.brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["a314bbb3.f44288"]]},{"id":"5034c34f.c7bac4","type":"mqtt in","z":"aa1f09f3.b20558","name":"Dimmer Power","topic":"shellies/shellydimmer-F3622F/light/0/power","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":120,"y":170,"wires":[["32599085.d04e1"]]},{"id":"19ce5b56.0ca635","type":"change","z":"aa1f09f3.b20558","name":"2shelly","rules":[{"p":"payload","pt":"msg","t":"move","to":"payload.turn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":170,"wires":[["a314bbb3.f44288"]]},{"id":"aa5cd7d7.5adb98","type":"function","z":"450d0d20.7f1e2c","name":"Bewässerungszeit Stellen","func":"\nconst time=msg.payload;\nlet outmsgs=[];\nconst topic=\"cmnd/terrasse/wasser\"\nconst maxtimers=8;\n\n//node.log(\"in:\"+JSON.stringify(msg));\n\nfor(let n=1; n<=maxtimers; n++) {\n    let m={ payload: msg.payload.length };\n    m.payload={arm : (n<=time) ? 1 : 0};\n    m.topic=topic+\"/timer\"+n;\n    outmsgs.push(m);\n    //node.log(\"test:\"+JSON.stringify(m));\n}\n\n//node.log(\"out:\"+JSON.stringify(outmsgs));\nreturn [[outmsgs], null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":690,"y":440,"wires":[[],[]]},{"id":"13ca16dd.1b13f1","type":"mqtt out","z":"450d0d20.7f1e2c","name":"","topic":"","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":820,"y":230,"wires":[]},{"id":"255172db.2fb5fe","type":"function","z":"450d0d20.7f1e2c","name":"Bewässerung Init","func":"\nconst topic=\"cmnd/terrasse/wasser\"\n\nconst init={ \n    arm:0, \n    mode:0, \n    time:\"0:00\", \n    \"window\":0, \n    days:\"1111111\", \n    repeat:1,\n    output:1,\n    action:1\n};\n\nfunction settime(n, time) {\n    let m={ payload: init };\n    m.topic=topic+\"/timer\"+n;\n    m.payload.time=time;\n    node.send(m);\n }\n\nsettime(1,  \"6:00\");\nsettime(2, \"20:00\");\nsettime(3,  \"6:15\");\nsettime(4, \"20:15\");\nsettime(5,  \"6:30\");\nsettime(6, \"20:30\");\nsettime(7,  \"6:45\");\nsettime(8, \"20:45\");\nnode.send({ topic: topic+\"/pulsetime1\", payload: \"160\" });\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":390,"wires":[[]]},{"id":"664fe28e.29a524","type":"inject","z":"450d0d20.7f1e2c","name":"Init","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":240,"y":390,"wires":[["255172db.2fb5fe"]]},{"id":"89aa894a.85e568","type":"ui_slider","z":"450d0d20.7f1e2c","d":true,"name":"","label":"Bewässerung","tooltip":"","group":"6c9a8770.69d218","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"8","step":1,"x":450,"y":440,"wires":[["aa5cd7d7.5adb98"]]},{"id":"819e9a5e.bc048","type":"inject","z":"450d0d20.7f1e2c","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":240,"y":440,"wires":[["89aa894a.85e568"]]},{"id":"53748e1e.e2bef8","type":"homekit-service","z":"aa1f09f3.b20558","d":true,"accessory":"120912a.adba76d","name":"Treppe","serviceName":"Lightbulb","x":470,"y":50,"wires":[["95b065ff.bd76f"]]},{"id":"95b065ff.bd76f","type":"change","z":"aa1f09f3.b20558","name":"2shelly","rules":[{"from":"true","fromt":"bool","p":"payload.On","pt":"msg","t":"change","to":"on","tot":"str"},{"from":"false","fromt":"bool","p":"payload.On","pt":"msg","t":"change","to":"off","tot":"str"},{"p":"payload.On","pt":"msg","t":"move","to":"payload.turn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":50,"wires":[["a314bbb3.f44288"]]},{"id":"33a490ac.690038","type":"change","z":"aa1f09f3.b20558","name":"2hk","rules":[{"p":"payload.ison","pt":"msg","t":"move","to":"payload.On","tot":"msg"},{"p":"payload.brightness","pt":"msg","t":"move","to":"payload.Brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":50,"wires":[["53748e1e.e2bef8"]]},{"id":"e9d39a8e.5e8188","type":"function","z":"b0208d5a.6407e","name":"Level<X","func":"const thrs = context.get('thrs', 'bank1')||180;\nconst thrson = context.get('thrson', 'bank1'); \n\n//node.warn(`level ${msg.topic}`);\n\nswitch(msg.topic) {\n    case \"threshold\": {\n        context.set('thrs',msg.payload, 'bank1');\n        let mDash={payload: msg.payload};\n        return[null, mDash, null];\n    }\n    case \"init\": {\n        let m_dash  ={payload: thrs};\n        let m_thrson={payload: thrson};\n        return[null, m_dash, m_thrson];\n    }\n    case \"on\": {\n        //node.warn(\"on\")\n        const on=msg.payload;\n        context.set('thrson', on, 'bank1');\n        if(!on) {\n            let msg={ reset: true };\n            return msg;\n        }\n        return;\n    }\n    default:\n        if (thrson && (msg.payload>thrs)) {\n            msg.val=msg.payload;\n            msg.payload=true;\n            msg.higher=true;\n            msg.thrson=thrson;\n            return msg;\n        }\n\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["161c6fbf.1864e8"],["3bd91b26.69e85c"],["496793c9.d2dd2c"]],"icon":"font-awesome/fa-question-circle-o"},{"id":"161c6fbf.1864e8","type":"trigger","z":"b0208d5a.6407e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"75","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":340,"wires":[["28993615.819792"]]},{"id":"c14e0f2.dc8edf","type":"ui_switch","z":"b0208d5a.6407e","name":"","label":"Steckdose Keller {{msg.label}}","tooltip":"","group":"ee8f746c.a7211","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":280,"wires":[["28993615.819792"]]},{"id":"28993615.819792","type":"Tasmota Switch","z":"b0208d5a.6407e","broker":"7ba92310.5f9f9c","device":"powplug1","name":"","outputs":"1","uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","x":800,"y":340,"wires":[["f1fc7e6c.5dfc1"]]},{"id":"dbd693b7.0b9a3","type":"ui_chart","z":"b0208d5a.6407e","name":"","group":"ee8f746c.a7211","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":430,"y":210,"wires":[[]]},{"id":"cc22ca48.5ddc8","type":"comment","z":"aa1f09f3.b20558","name":"Dimmer Treppe","info":"","x":110,"y":60,"wires":[]},{"id":"3697b5.3e36184c","type":"comment","z":"450d0d20.7f1e2c","name":"Bewässerung Terrasse","info":"","x":110,"y":170,"wires":[]},{"id":"7caa0d54.f75bac","type":"comment","z":"b0208d5a.6407e","name":"PowPlug1","info":"","x":80,"y":130,"wires":[]},{"id":"3e0382cc.928a76","type":"function","z":"aa1f09f3.b20558","name":"2dash","func":"/*\n Shelly Dimmer Status wandeln für Dashboard\n Kanal 1: brightness -> slider\n Kanal 2: ison -> Switch \n*/\nif (typeof msg.payload.brightness !== 'undefined') {\n    const m = { \n        payload: msg.payload.brightness\n    };\n    //\"first out of output 1\" };\n    node.send([m, null]);\n}\nif (typeof msg.payload.ison !== 'undefined') {\n    let m={ payload: 'off' };\n    if (msg.payload.ison) m.payload='on';\n    //else m.payload='off';\n    node.send([null, m]);\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["bcc938e9.895cf"],["9c06834b.11833"]]},{"id":"bcc938e9.895cf","type":"ui_slider","z":"aa1f09f3.b20558","name":"tr. dim","label":"Treppe {{msg.label}}","tooltip":"","group":"12f317c6.04caa8","order":1,"width":"5","height":"1","passthru":false,"outs":"end","topic":"","min":"20","max":"70","step":"1","x":480,"y":120,"wires":[["5def2b0.2ecfbd4"]]},{"id":"42d1fbf3.896e2c","type":"ui_text","z":"b0208d5a.6407e","group":"ee8f746c.a7211","order":6,"width":0,"height":0,"name":"","label":"Verbrauch","format":"&#9788; {{msg.payload.Today| number:3}} &Sigma; {{msg.payload.Total| number:2}} kwh","layout":"row-spread","x":450,"y":180,"wires":[]},{"id":"852849aa.b97b3","type":"Tasmota Sensor","z":"b0208d5a.6407e","broker":"7ba92310.5f9f9c","device":"powplug1","name":"","outputs":2,"uidisabler":false,"fullTopic":"","cmndPrefix":"","statPrefix":"","telePrefix":"","rules":["ENERGY","ENERGY.Power"],"x":220,"y":270,"wires":[["42d1fbf3.896e2c","a1fe0351.b3d65"],["dbd693b7.0b9a3","e9d39a8e.5e8188","339d9d6d.57f94a","5564d071.cc1a78"]]},{"id":"65d26f31.65b32","type":"ui_switch","z":"aa1f09f3.b20558","name":"stehl.sw","label":"","tooltip":"","group":"12f317c6.04caa8","order":4,"width":"1","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":410,"y":360,"wires":[["34e4e3aa.4d6c8c"]]},{"id":"eefa1a9e.a5daa8","type":"mqtt in","z":"aa1f09f3.b20558","name":"Stehl","topic":"fhem/wohn/stehlampe/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":90,"y":360,"wires":[["65d26f31.65b32"]]},{"id":"34e4e3aa.4d6c8c","type":"function","z":"aa1f09f3.b20558","name":"2fhem","func":"\nreturn { payload: \"set wohn.stehlampe \" +msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":360,"wires":[["7d86f3f5.f39a9c"]]},{"id":"976942b.44006c","type":"mqtt in","z":"aa1f09f3.b20558","name":"stehl-dim","topic":"fhem/wohn/stehlampe/dim","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":100,"y":400,"wires":[["25693f17.e67428"]]},{"id":"25693f17.e67428","type":"ui_slider","z":"aa1f09f3.b20558","name":"stehl.dim","label":"Stehlampe","tooltip":"","group":"12f317c6.04caa8","order":3,"width":"5","height":"1","passthru":false,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":410,"y":400,"wires":[["ac73b0e7.a6ef58"]]},{"id":"ac73b0e7.a6ef58","type":"function","z":"aa1f09f3.b20558","name":"dim","func":"\nreturn { payload: \"dim \" +msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":400,"wires":[["34e4e3aa.4d6c8c"]]},{"id":"547556e9.a8a278","type":"inject","z":"3487ba0b.3c30fe","name":"takt","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"test","v":"${soll}","vt":"str"}],"repeat":"${ticktime}","crontab":"","once":true,"onceDelay":"1","topic":"tick","payload":"","payloadType":"date","x":430,"y":200,"wires":[["ea1f3391.a645b8"]],"icon":"node-red/timer.svg"},{"id":"ea1f3391.a645b8","type":"function","z":"3487ba0b.3c30fe","name":"thermostat","func":"\nconst name = env.get('Name');\nlet check=false;\nlet tick=false;\nlet msgMqtt=null;\nlet msgDash=null;\nlet tempsoll=flow.get('soll', 'bank1')||env.get('soll');\n\nswitch(msg.topic) {\n    case 'init': \n        flow.set('soll', tempsoll, 'bank1');\n        msgDash={payload: tempsoll};\n        node.send([null, msgDash]);\n        break;\n    case 'tick':\n        check=true;\n        tick=true;\n        break;\n    case 'off':\n        const off=msg.payload;\n        node.log(`${name}-off:${off}`)\n        flow.set('off', off, 'bank1');\n        check=true;\n        break;\n    case 'pause':\n        const pause=msg.payload;\n        node.log(`${name}-pause:${pause}`)\n        flow.set('pause', pause);\n        check=true;\n        break;\n    case 'soll':\n        tempsoll=msg.payload;\n        node.log(`${name}-tempsoll:${tempsoll}`)\n        flow.set('soll', tempsoll, 'bank1');\n        msgDash={payload: tempsoll};\n        node.send([null, msgDash]);\n        //node.warn(`${name} soll:->${msg.payload}`);\n        check=true;\n        break;\n    case 'rueck':\n        flow.set('rueck', msg.payload);\n        break;\n    case 'temp':\n    default: // temperatur\n        if (typeof  msg.payload==='string') {\n            msg.payload=parseFloat(msg.payload);\n        }\n        flow.set('temp',msg.payload);\n}\n\n// Ventil gängig halten bei Aus\nlet offtime = flow.get('offtime')||0;\nif(tick) {\n    offtime++;\n    if(offtime>2000) { \n        // nach 1Woche ohne Einschalten einmal \n        // für ein tick ein\n        msgMqtt = {payload: 1};\n        node.log(`${name}: fit1`);\n        if(offtime>2000+1) {\n            node.log(`${name}: fit0`);\n            offtime=0;\n            msgMqtt = {payload: 0};\n        }\n        flow.set('offtime', offtime);\n        return;\n    }\n}\n\nlet temp=flow.get('temp')||99.0;\nconst tempist=temp;\nconst off=flow.get('off', 'bank1')||false;\nconst pause=flow.get('pause')||false;\nconst temphyst=env.get('hyst')/2;\nconst back=flow.get('rueck')||env.get('back');\nlet heat = flow.get('heat')||false;\n\nif(check && temp<99.0) {\n    if (off || pause) {\n        tempsoll=5.0; // Frostschutz\n    }\n    // Zweipunktregler\n    if (heat) { temp+=back; } // Rückführung\n    const tempmin=tempsoll-temphyst;\n    const tempmax=tempsoll+temphyst;\n    if (temp<tempmin) {\n        offtime=0;\n        msgMqtt = {payload: 1};\n        flow.set('heat', true);\n    } else if (temp>tempmax) {\n        msgMqtt = {payload: 0};\n        flow.set('heat', false);\n    }\n    flow.set('offtime', offtime);\n} // if check && temp<99\n\n// Statuslabel für Solltemp-Widget aktualisieren\nheat=flow.get('heat');\nconst color=(heat)        ? \"color=red\" :\n            (off||pause)  ? \"color=silver\"    :  \"\";\nconst l=\"<font \"+color+\">&#9776;</font> <small>\"\n          +tempist.toFixed(1)+\"&#8451;</small>\";\nmsgDash={label: l};\n\nreturn [msgMqtt, msgDash];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[[],[]]},{"id":"edc270d2.922e08","type":"influxdb in","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"Temp","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":490,"y":590,"wires":[["730ef854.4829a"]]},{"id":"be6ac9b0.b3f09","type":"ui_dropdown","z":"a0bc08fa.831148","name":"","label":"Raum","tooltip":"","place":"Select option","group":"bfddb128.b86098","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Außen","value":"out_temp","type":"str"},{"label":"Wohnzimmer","value":"wohn_temp","type":"str"},{"label":"Küche","value":"kueche_temp","type":"str"},{"label":"Schlafzimmer","value":"schlaf_temp","type":"str"},{"label":"Bad","value":"bad_temp","type":"str"},{"label":"Studio","value":"studio_temp","type":"str"}],"payload":"","topic":"","x":150,"y":590,"wires":[["c79150cd.7bb258"]]},{"id":"c79150cd.7bb258","type":"function","z":"a0bc08fa.831148","name":"query","func":"\nif(typeof msg.payload != 'undefined') {\n    context.set('room', msg.payload);\n}\n\nlet room=context.get('room');\nmsg.query=\"select * from \\\"\"+room+\"\\\" where time > now() - 12h\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('room', 0);","finalize":"","x":340,"y":590,"wires":[["edc270d2.922e08"]],"icon":"node-red-contrib-influxdb/influxdb.png"},{"id":"c085eb32.46f9c8","type":"ui_chart","z":"a0bc08fa.831148","name":"","group":"bfddb128.b86098","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":590,"wires":[[]]},{"id":"730ef854.4829a","type":"function","z":"a0bc08fa.831148","name":"temp table","func":"//\n// Format the InfluxDB results to match the charts JSON format\n//\n \nconst series = [\"temp DegC\"];\nconst labels = [\"Data Values\"];\nlet data = \"[[\";\nlet thetime;\n \n//for (let i=0; i < msg.payload.length; i++) {\nfor (const [i, pl] of msg.payload.entries()) {\n    thetime = Number(pl.time); // Some manipulation of the time may be required\n    data += '{ \"x\":' + thetime + ', \"y\":' + pl.value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\";\n    } else {\n        data += \"]]\";\n    }\n}\n//node.warn(`tabdata: ${JSON.stringify(data,null,4)}`);\n\nconst jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\n//msg.payload = data;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":590,"wires":[["c085eb32.46f9c8"]],"icon":"node-red-dashboard/ui_chart.png"},{"id":"c5752a48.55e76","type":"mqtt out","z":"a0bc08fa.831148","name":"Studio 4ch","topic":"cmnd/dg_heizung/power2","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":770,"y":470,"wires":[]},{"id":"e923542a.d48448","type":"subflow:3487ba0b.3c30fe","z":"a0bc08fa.831148","name":"tstudio","env":[{"name":"soll","value":"20.0","type":"num"},{"name":"hyst","value":"0.1","type":"num"},{"name":"back","value":"0.0","type":"num"},{"name":"ticktime","value":"301","type":"num"},{"name":"Name","value":"Studio","type":"str"},{"name":"low","value":"19.5","type":"str"},{"name":"crontimes","value":"{\"low\":[\"0 0 19 * * * *\"],\"high\":[\"0 0 7 * * * *\"]}","type":"json"}],"x":450,"y":470,"wires":[["c5752a48.55e76","fb36329e.7cd69"],["3dafc052.da60a8"]]},{"id":"fb15f641.93262","type":"comment","z":"aa1f09f3.b20558","name":"Stehlampe","info":"","x":90,"y":310,"wires":[]},{"id":"964c41ae.707","type":"subflow:3487ba0b.3c30fe","z":"a0bc08fa.831148","name":"tschlaf","env":[{"name":"soll","value":"20.5","type":"num"},{"name":"hyst","value":"0.1","type":"num"},{"name":"back","value":"0.0","type":"num"},{"name":"ticktime","value":"303","type":"num"},{"name":"Name","value":"Schlafzimmer","type":"str"},{"name":"low","value":"19.5","type":"str"},{"name":"high","value":"19.0","type":"str"},{"name":"crontimes","value":"{\"low\":[\"0 0 19 * * * *\"],\"high\":[\"0 0 6 * * * *\"]}","type":"json"}],"x":450,"y":290,"wires":[["8c13c865.c6c4c8","9e0b1edd.daf248"],["eab3caa5.99164"]]},{"id":"8c13c865.c6c4c8","type":"mqtt out","z":"a0bc08fa.831148","name":"Schlaf 4ch","topic":"cmnd/dg_heizung/power3","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":770,"y":290,"wires":[]},{"id":"eab3caa5.99164","type":"ui_numeric","z":"a0bc08fa.831148","name":"Schlafsoll","label":"Schlafzimmer {{msg.label}}","tooltip":"","group":"9894cdd4.90d538","order":6,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"soll","format":"{{value | number:1}}&#8451;","min":0,"max":"30","step":"0.5","x":460,"y":330,"wires":[["964c41ae.707"]]},{"id":"7c4ac185.5dbf18","type":"subflow:3487ba0b.3c30fe","z":"a0bc08fa.831148","name":"tbad","env":[{"name":"hyst","value":"0.1","type":"num"},{"name":"back","value":"0.0","type":"num"},{"name":"ticktime","value":"302","type":"num"},{"name":"Name","value":"Bad","type":"str"},{"name":"high","value":"19","type":"str"},{"name":"crontimes","value":"{\"low\":[\"0 0 19 * * * *\"],\"high\":[\"0 0 7 * * * *\"]}","type":"json"}],"x":450,"y":380,"wires":[["3563f99a.d7b626","24441f7c.bdc27"],["5369ed6d.2400b4"]]},{"id":"3563f99a.d7b626","type":"mqtt out","z":"a0bc08fa.831148","name":"Bad 4ch","topic":"cmnd/dg_heizung/power1","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":760,"y":380,"wires":[]},{"id":"5369ed6d.2400b4","type":"ui_numeric","z":"a0bc08fa.831148","name":"Badsoll","label":"Bad {{msg.label}}","tooltip":"","group":"9894cdd4.90d538","order":5,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"soll","format":"{{value | number:1}}&#8451;","min":0,"max":"30","step":"0.5","x":460,"y":420,"wires":[["7c4ac185.5dbf18"]]},{"id":"3dafc052.da60a8","type":"ui_numeric","z":"a0bc08fa.831148","name":"Studiosoll","label":"Studio {{msg.label}}","tooltip":"","group":"9894cdd4.90d538","order":4,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"soll","format":"{{value | number:1}}&#8451;","min":0,"max":"30","step":"0.5","x":460,"y":510,"wires":[["e923542a.d48448"]]},{"id":"9e0b1edd.daf248","type":"influxdb out","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"","measurement":"schlaf_hz","precision":"s","retentionPolicy":"a_week","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":635,"y":310,"wires":[],"l":false},{"id":"40032fa9.7de27","type":"subflow:3487ba0b.3c30fe","z":"a0bc08fa.831148","name":"twohn","env":[{"name":"hyst","value":"0.2","type":"num"},{"name":"back","value":"0","type":"num"},{"name":"ticktime","value":"306","type":"num"},{"name":"Name","value":"Wohnzimmer","type":"str"},{"name":"low","value":"20","type":"str"},{"name":"high","value":"20.5","type":"str"},{"name":"crontimes","value":"{\"low\":[\"0 0 19 * * * *\"],\"high\":[\"0 0 7 * * * *\"]}","type":"json"}],"x":450,"y":200,"wires":[["dbb01d1a.25298","67a86161.8a2048"],["605b1a7f.16790c"]]},{"id":"dbb01d1a.25298","type":"mqtt out","z":"a0bc08fa.831148","name":"Wohn Hz","topic":"cmnd/og_heizung/power1","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":760,"y":200,"wires":[]},{"id":"605b1a7f.16790c","type":"ui_numeric","z":"a0bc08fa.831148","name":"Wohnsoll","label":"Wohnzimmer {{msg.label}}","tooltip":"","group":"9894cdd4.90d538","order":2,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"soll","format":"{{value | number:1}}&#8451;","min":0,"max":"30","step":"0.5","x":460,"y":240,"wires":[["40032fa9.7de27"]]},{"id":"3f7cb98d.faca86","type":"subflow:3487ba0b.3c30fe","z":"a0bc08fa.831148","name":"tküche","env":[{"name":"hyst","value":"0.2","type":"num"},{"name":"back","value":"0","type":"num"},{"name":"ticktime","value":"307","type":"num"},{"name":"Name","value":"Küche","type":"str"},{"name":"low","value":"19.5","type":"str"},{"name":"crontimes","value":"{\"low\":[\"0 0 19 * * * *\"],\"high\":[\"0 0 7 * * * *\"]}","type":"json"},{"name":"offset","value":"0.2","type":"num"},{"name":"times","value":"{\"cronlow\":[\"0 0 20 * * * *\"],\"cronhigh\":[\"0 0 8 * * * *\"]}","type":"json"}],"x":450,"y":110,"wires":[["a6409120.bd0ff8","fa5226fa.95253"],["93eae70a.bea158"]]},{"id":"a6409120.bd0ff8","type":"mqtt out","z":"a0bc08fa.831148","name":"Küche Hz","topic":"cmnd/og_heizung/power2","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":760,"y":110,"wires":[]},{"id":"93eae70a.bea158","type":"ui_numeric","z":"a0bc08fa.831148","name":"Küchesoll","label":"Küche {{msg.label}}","tooltip":"","group":"9894cdd4.90d538","order":3,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"soll","format":"{{value | number:1}}&#8451;","min":0,"max":"30","step":"0.5","x":460,"y":150,"wires":[["3f7cb98d.faca86"]]},{"id":"d01b724.1ad301","type":"inject","z":"3487ba0b.3c30fe","name":" init","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"init","payloadType":"str","x":140,"y":190,"wires":[["b03c381c.5ce2e"]]},{"id":"87b97c8a.a349b","type":"function","z":"450d0d20.7f1e2c","name":"SetTasmotaTimers","func":"const topic=\"cmnd/terrasse/wasser\";\nconst maxtimers=8;\nlet outmsgs=[];\nconst time=context.get('tim', 'bank1')|0;\n\nfunction inittimer(n, time) {\n    const init={ \n        arm: (n<=time) ? 1 : 0, \n        mode:0, \n        time:\"0:00\", \n        \"window\":0, \n        days:\"1111111\", \n        repeat:1,\n        output:1,\n        action:1\n    };\n    let m={ payload: init };\n    m.topic=topic+\"/timer\"+n;\n    m.payload.time=time;\n    node.send([m, null]);\n}\n\nfunction armtimer(n, arm) {\n    const m={ payload : {arm: arm}, topic:topic+`/timer${n}`};\n    node.send([m, null]);\n}\n\nif (msg.topic=='init') {\n    inittimer(1,  \"6:00\");\n    inittimer(2, \"20:00\");\n    inittimer(3,  \"6:15\");\n    inittimer(4, \"20:15\");\n    inittimer(5,  \"6:30\");\n    inittimer(6, \"20:30\");\n    inittimer(7,  \"6:45\");\n    inittimer(8, \"20:45\");\n    node.send([{ topic: topic+\"/pulsetime1\", payload: \"160\" }, {payload: time}]);\n} else {\n    const t=msg.payload;\n    context.set('tim', t, 'bank1');\n    for(let n=1; n<=maxtimers; n++) {\n        armtimer(n, (n<=t) ? 1 : 0);\n        //node.log(\"test:\"+JSON.stringify(m));\n    }\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":230,"wires":[["d8363fed.eebe","13ca16dd.1b13f1"],["ae69b8d5.2ad4e8"]]},{"id":"3b379e2d.d1f332","type":"inject","z":"450d0d20.7f1e2c","name":"Init","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"init","x":130,"y":230,"wires":[["87b97c8a.a349b"]]},{"id":"d8363fed.eebe","type":"debug","z":"450d0d20.7f1e2c","name":"m1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":270,"wires":[]},{"id":"3b022b9c.1bae84","type":"link in","z":"a0bc08fa.831148","name":"cmd Küche","links":["8ae5da74.0314c8","39a7345c.287974"],"x":315,"y":130,"wires":[["3f7cb98d.faca86"]],"outputLabels":["dddd"]},{"id":"58119357.d9baf4","type":"link in","z":"a0bc08fa.831148","name":"cmd Schlaf","links":["9750ebca.8e2e9","cbe5d69a.6223d8"],"x":315,"y":310,"wires":[["964c41ae.707"]],"outputLabels":["dddd"]},{"id":"24441f7c.bdc27","type":"influxdb out","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"","measurement":"bad_hz","precision":"s","retentionPolicy":"a_week","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":635,"y":400,"wires":[],"l":false},{"id":"fb36329e.7cd69","type":"influxdb out","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"","measurement":"studio_hz","precision":"s","retentionPolicy":"a_week","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":635,"y":490,"wires":[],"l":false},{"id":"da3e1bcc.cc7178","type":"ui_text","z":"450d0d20.7f1e2c","group":"6c9a8770.69d218","order":7,"width":0,"height":0,"name":"Anzeige","label":"Außentemperatur {{msg.label}}","format":"{{value | number:1}}&#8451;    ","layout":"row-spread","x":810,"y":100,"wires":[]},{"id":"339d9d6d.57f94a","type":"function","z":"b0208d5a.6407e","name":"pow2label","func":"// Statuslabel für Switch aktualisieren\nconst l=\"<small>\"+msg.payload.toFixed(1)+\" W</small>\";\nconst msgDash={label: l};\nreturn msgDash;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":280,"wires":[["f1fc7e6c.5dfc1"]]},{"id":"3bd91b26.69e85c","type":"ui_numeric","z":"b0208d5a.6407e","name":"set level","label":"Abschalten <","tooltip":"","group":"ee8f746c.a7211","order":3,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"threshold","topicType":"str","format":"{{value}} W","min":0,"max":"300","step":"5","x":440,"y":320,"wires":[["e9d39a8e.5e8188"]]},{"id":"7d42da3d.7dc45c","type":"inject","z":"b0208d5a.6407e","name":" init","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"init","payloadType":"str","x":230,"y":360,"wires":[["e9d39a8e.5e8188"]]},{"id":"f0fd1e3.e863f6","type":"link in","z":"a0bc08fa.831148","name":"cmd Wohn","links":["e9815f74.28733","56f1ab0e.d25eec"],"x":315,"y":220,"wires":[["40032fa9.7de27"]],"outputLabels":["dddd"]},{"id":"67a86161.8a2048","type":"influxdb out","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"","measurement":"wohn_hz","precision":"s","retentionPolicy":"a_week","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":635,"y":220,"wires":[],"l":false},{"id":"fa5226fa.95253","type":"influxdb out","z":"a0bc08fa.831148","influxdb":"b550babf.70f108","name":"","measurement":"kueche_hz","precision":"s","retentionPolicy":"a_week","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":635,"y":130,"wires":[],"l":false},{"id":"32599085.d04e1","type":"function","z":"aa1f09f3.b20558","name":"pow2label","func":"// Statuslabel für Switch aktualisieren\nconst l=\"<small>\"+msg.payload.toFixed(1)+\" W</small>\";\nconst msgDash={label: l};\nreturn msgDash;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":170,"wires":[["bcc938e9.895cf"]]},{"id":"c2326276.fbced8","type":"influxdb in","z":"450d0d20.7f1e2c","influxdb":"b550babf.70f108","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":515,"y":100,"wires":[["d6990e5.05478f"]],"l":false},{"id":"b15c7da9.3c69f","type":"function","z":"450d0d20.7f1e2c","name":"q minmax","func":"msg.temp=msg.payload\nmsg.query=\"select min(value),max(value) from out_temp where time > now() - 24h\";\nmsg.topic='minmax';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["c2326276.fbced8"]],"icon":"node-red-contrib-influxdb/influxdb.png"},{"id":"d6990e5.05478f","type":"function","z":"450d0d20.7f1e2c","name":"2dash","func":"\nlet min=msg.payload[0].min;\nlet max=msg.payload[0].max;\nlet temp=msg.temp;\n\n//node.warn(`T:${temp} min:${min} max:${max}`);\n\nconst msgDash= { \n    payload: temp, \n    //label: `<small><font color=blue>&darr;</font>${min.toFixed(1)} <font color=red>&uarr;</font>${max.toFixed(1)}</small>`\n    //label: `<small><font color=blue>${min.toFixed(1)}</font>&darr; &uarr;<font color=red>${max.toFixed(1)}</font></small>`\n    label: `<small>${min.toFixed(1)}&darr; &uarr;${max.toFixed(1)}</small>`\n};\nreturn msgDash;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["da3e1bcc.cc7178"]]},{"id":"15977d4e.96b3e3","type":"comment","z":"3487ba0b.3c30fe","name":"Dashboard","info":"","x":840,"y":260,"wires":[]},{"id":"849f12bf.768c2","type":"comment","z":"3487ba0b.3c30fe","name":"Heizung 1/0","info":"","x":850,"y":220,"wires":[]},{"id":"8daaa3e8.24bc3","type":"link in","z":"a0bc08fa.831148","name":"cmd Bad","links":["8717b4ee.7f41c","7d28b56f.b7778c"],"x":315,"y":400,"wires":[["7c4ac185.5dbf18"]],"outputLabels":["dddd"]},{"id":"20e8fd2.894a502","type":"link in","z":"a0bc08fa.831148","name":"cmd Studio","links":["6f89e4a8.ce7cec","97c38fd7.2bb8e8"],"x":315,"y":490,"wires":[["e923542a.d48448"]],"outputLabels":["dddd"]},{"id":"c9ba1cad.7c39c8","type":"delay","z":"450d0d20.7f1e2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":325,"y":100,"wires":[["b15c7da9.3c69f"]],"l":false},{"id":"f0f906c7.1d2b5","type":"comment","z":"450d0d20.7f1e2c","name":"24h-Min-Max-Abfrage Außentemperatur","info":"","x":170,"y":30,"wires":[]},{"id":"b03c381c.5ce2e","type":"function","z":"3487ba0b.3c30fe","name":"croncmds","func":"/*\n * Zeiten und Temperaturen für Absenkung (low,high)\n * aus Properties lesen und in cron setzen\n */\n\nlet name=env.get('name');\n\nswitch(msg.topic) {\n    case 'init':\n        node.send(msg); // init auch weiterreichen\n        break;\n    case 'low':\n        flow.set('low',  payload.msg);\n        break;\n    case 'high':\n        flow.set('high', payload.msg);\n        break;\n    default:\n        // nicht für mich -> weiterreichen\n        return msg;\n}\n\nlet low =flow.get('low');\nlet high=flow.get('high');\nmsg=null;\n\nlet crontimes=env.get('crontimes')||{};\n//node.warn(`${env.get('Name')} crontimes: ${JSON.stringify(crontimes,null,' ')}`);\nlet m={payload: []};\nconst cron_add= {\n    command: \"add\",\n    topic: \"soll\",\n    expressionType: \"cron\",\n    payloadType: \"num\",\n  };\nif (typeof crontimes.low != \"undefined\") {\n    for(const c of crontimes.low) {\n        let ca = { ...cron_add };\n        //node.warn(`low:${c}`);\n        ca.expression=c;\n        ca.payload=low;\n        ca.name=\"low-start\";\n        m.payload.push(ca);\n    }\n}\nif (typeof crontimes.high != \"undefined\") {\n    for(const c of crontimes.high) {\n        let ca = { ...cron_add };\n        //node.warn(`high:${c}`);\n        ca.expression=c;\n        ca.payload=high;\n        ca.name=\"high-start\";\n        m.payload.push(ca);\n    }\n}\n//node.log(`${name} crontimes: ${JSON.stringify(m,null,' ')}`);\n\nnode.send([msg, {'topic': 'remove-all'}]);\nreturn [msg, m];","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('low',  env.get('low'));\nflow.set('high', env.get('high'));\n","finalize":"","x":290,"y":240,"wires":[["ea1f3391.a645b8"],["3d0853e7.e9c874","e996daf5.8a4d38"]]},{"id":"3d0853e7.e9c874","type":"cronplus","z":"3487ba0b.3c30fe","name":"cron","outputField":"payload","timeZone":"","persistDynamic":true,"commandResponseMsgOutput":"output1","outputs":1,"options":[],"x":430,"y":270,"wires":[["697b40c3.c23318","ea1f3391.a645b8"]]},{"id":"e996daf5.8a4d38","type":"debug","z":"3487ba0b.3c30fe","d":true,"name":"2","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":350,"wires":[]},{"id":"697b40c3.c23318","type":"debug","z":"3487ba0b.3c30fe","d":true,"name":"1","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":300,"wires":[]},{"id":"da0c6e8e.315178","type":"comment","z":"3487ba0b.3c30fe","name":"Kommandos","info":"* init()\n* low(num)\n* high(num)\n* soll(num)\n* off(bool)\n* pause(bool)\n* rueck(num)","x":110,"y":130,"wires":[]},{"id":"39a7345c.287974","type":"link out","z":"a0bc08fa.831148","name":"cmd Küche","links":["3b022b9c.1bae84"],"x":730,"y":710,"wires":[],"l":true},{"id":"cbe5d69a.6223d8","type":"link out","z":"a0bc08fa.831148","name":"cmd Schlaf","links":["58119357.d9baf4"],"x":730,"y":750,"wires":[],"l":true},{"id":"56f1ab0e.d25eec","type":"link out","z":"a0bc08fa.831148","name":"cmd Wohn","links":["f0fd1e3.e863f6"],"x":730,"y":670,"wires":[],"l":true},{"id":"d7759238.be6728","type":"function","z":"a0bc08fa.831148","name":"delay close","func":"/*\n * bei 'Open': topic=off, payload=true \n * bei 'Close': nach Zeit ms: topic=off, payload=false \n * senden\n */\nconst name='TerrTür';\nlet   timid=context.get('timid')|0;\nconst ms=30*60*1000; // Botschaft 30min verzögern\n\nnode.log(`Fenster ${name} ${msg.topic}/${msg.payload}`);\nif (msg.payload=='Closed') {\n    clearTimeout(timid);\n    let on_timeout=() => {\n        //node.log(`${name}: close pause end`);\n        const m={topic: \"pause\", payload: false};\n        node.send(m);\n    }\n    timid=setTimeout(on_timeout, ms); // Botschaft verzögern\n    context.set('timid', timid);\n} else {\n    //node.log(`${name}: open`);\n    clearTimeout(timid);\n    const m={topic: \"pause\", payload: true};\n    return m;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":670,"wires":[["56f1ab0e.d25eec","39a7345c.287974"]]},{"id":"4ca0098.3e9bf78","type":"ui_switch","z":"a0bc08fa.831148","name":"aus","label":"<big><b>Heizung</b></big>","tooltip":"","group":"9894cdd4.90d538","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"off","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":830,"wires":[["46eca422.3388b4","39a7345c.287974","cbe5d69a.6223d8","7d28b56f.b7778c","97c38fd7.2bb8e8","56f1ab0e.d25eec"]]},{"id":"46eca422.3388b4","type":"function","z":"a0bc08fa.831148","name":"save","func":"// init:  gespeicherten Wert auslesen\n// sonst: geänderten Wert im context sichern\n\nif(msg.topic==='init') {\n    let msg = {payload: context.get('alloff', 'bank1')};\n    return msg;\n}\ncontext.set('alloff', msg.payload, 'bank1');\nmsg.topic='save'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":830,"wires":[["4ca0098.3e9bf78"]]},{"id":"1ce7d5.25ca802c","type":"inject","z":"a0bc08fa.831148","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.9","topic":"init","payloadType":"str","x":110,"y":830,"wires":[["46eca422.3388b4"]]},{"id":"7d28b56f.b7778c","type":"link out","z":"a0bc08fa.831148","name":"cmd Bad","links":["8daaa3e8.24bc3"],"x":720,"y":790,"wires":[],"l":true},{"id":"97c38fd7.2bb8e8","type":"link out","z":"a0bc08fa.831148","name":"cmd Studio","links":["20e8fd2.894a502"],"x":730,"y":830,"wires":[],"l":true},{"id":"ae69b8d5.2ad4e8","type":"ui_numeric","z":"450d0d20.7f1e2c","name":"","label":"Bewässerung","tooltip":"","group":"6c9a8770.69d218","order":4,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"8","step":1,"x":450,"y":280,"wires":[["87b97c8a.a349b"]]},{"id":"ec37a506.bc2898","type":"inject","z":"a0bc08fa.831148","name":"refresh curve","props":[],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":245,"y":610,"wires":[["c79150cd.7bb258"]],"icon":"node-red/timer.svg","l":false},{"id":"b23b012e.3303b","type":"comment","z":"a0bc08fa.831148","name":"Temperaturverlauf","info":"","x":120,"y":550,"wires":[]},{"id":"80357594.2867f8","type":"comment","z":"a0bc08fa.831148","name":"Thermostate","info":"","x":100,"y":60,"wires":[]},{"id":"85fd8ca4.b32fa","type":"blind-control","z":"d4053697.493c7","name":"Rollladenstrg","topic":"delayed","positionConfig":"9cdd0771.1cfdb8","outputs":1,"autoTrigger":true,"autoTriggerTime":"10800000","startDelayTime":"2000","storeName":"","blindIncrement":"1","blindOpenPos":"100","blindClosedPos":0,"blindPosReverse":false,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"index":0,"name":"Block","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"open (max)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"block","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.block</var> ist true</div><div>↕  Absolut <var>offen (max)</var></div>","timeMinOp":0,"timeMaxOp":0},{"index":1,"name":"Morgen","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"mor_earl","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"nightclose","validOperandAType":"env","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":2,"valid2LogOperatorText":"und","valid2OperandAValue":"weekend","valid2OperandAType":"global","valid2Operator":"false","valid2OperatorText":"ist false","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>env.nightclose</var> ist true<br/><strong>und</strong> <var>global.weekend</var> ist false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow.mor_earl</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>","timeMinOp":0,"timeMaxOp":0},{"index":2,"name":"Morgen WE","isValid":false,"valid":{},"timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"mor_earl_we","timeMinType":"flow","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"nightclose","validOperandAType":"env","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":2,"valid2LogOperatorText":"und","valid2OperandAValue":"weekend","valid2OperandAType":"global","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>env.nightclose</var> ist true<br/><strong>und</strong> <var>global.weekend</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>bürgerliche Morgendämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>frühestens (min)</span> <var>flow.mor_earl_we</var></div></div><div>↕  Absolut <var>geschlossen (min)</var></div>","timeMinOp":0,"timeMaxOp":0},{"index":3,"name":"Hot","isValid":false,"valid":{},"timeValue":"goldenHourDuskStart","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"50%","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"outhot","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.outhot</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>Goldene Abendstunde Begin</var></div><div>↕  Absolut <var>50%</var></div>","timeMinOp":0,"timeMaxOp":0},{"index":4,"name":"Abend","isValid":false,"valid":{},"timeValue":"goldenHourDuskStart","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"10","offsetType":"num","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"open (max)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":true,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>Goldene Abendstunde Begin</var> + 00:10</div><div>↕  Absolut <var>offen (max)</var><div class=\"indent-resetOverwrite-text\"> <span>manuelle Überschreibung verfällt wenn die Regel aktiv wird</span> </div></div>","timeMinOp":0,"timeMaxOp":0},{"index":5,"name":"Nacht","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"ev_lat","timeMaxType":"flow","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":true,"validOperandAValue":"nightclose","validOperandAType":"env","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>env.nightclose</var> ist true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var><div class=\"indent-time-text\"><i class=\"fa fa-step-forward\" aria-hidden=\"true\"></i> <span>spätestens (max)</span> <var>flow.ev_lat</var></div></div><div>↕  Absolut <var>geschlossen (min)</var><div class=\"indent-resetOverwrite-text\"> <span>manuelle Überschreibung verfällt wenn die Regel aktiv wird</span> </div></div>","timeMinOp":0,"timeMaxOp":0}],"sunControlMode":"1","sunFloorLength":"","sunMinAltitude":"","sunMinDelta":"","blindPosMin":"50","blindPosMinType":"num","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","sunTopic":"delayed","windowTop":"200","windowBottom":"5","windowAzimuthStart":"${azstart}","windowAzimuthEnd":"${azend}","oversteerValue":"","oversteerValueType":"none","oversteerCompare":"true","oversteerThreshold":"","oversteerThresholdType":"num","oversteerBlindPos":"open (max)","oversteerBlindPosType":"levelFixed","oversteer2Value":"","oversteer2ValueType":"none","oversteer2Compare":"true","oversteer2Threshold":"","oversteer2ThresholdType":"num","oversteer2BlindPos":"open (max)","oversteer2BlindPosType":"levelFixed","oversteer3Value":"","oversteer3ValueType":"none","oversteer3Compare":"true","oversteer3Threshold":"","oversteer3ThresholdType":"num","oversteer3BlindPos":"open (max)","oversteer3BlindPosType":"levelFixed","oversteerTopic":"","x":520,"y":150,"wires":[["7259b8ed.40eba8"]]},{"id":"2a56a3ab.a762dc","type":"link in","z":"5d53e9ec.28daa","name":"temp Wohn","links":["6b838ba0.d22a04","cb734690.de9f1"],"x":120,"y":100,"wires":[["7cb07824.ce83e","c2431ab2.acb47","4fe35e3.49eb8a"]],"l":true},{"id":"991b01f9.9e0108","type":"function","z":"d4053697.493c7","name":"Beschattung?","func":"\nconst name=env.get('name');\nconst toutmax=23;\nconst tinmax=env.get('tempwarm');\nconst T_COLD=0;const T_LOW=1;const T_OK=2;\nconst T_HIGH=3;const T_HOT=4;\n\nlet weather=context.get('weather');\n\nswitch (msg.topic) {\n    case 'temp':\n        const intemp=msg.payload\n        context.set('intemp', intemp);\n    break;\n    case 'weather':\n        let weather=msg.payload; // sun_next_h, sun_max_today\n        context.set('weather', weather);\n    break;\n    case 'fenster':\n        node.log(`${name} Fenster:${msg.payload}`);\n        flow.set('block', msg.payload==\"Open\");\n        return {trigger:true};\n    case 'block':\n        let block=msg.payload;\n        flow.set('block', block);\n        //node.log(`block ${name} ${block}`);\n        flow.set('block', block);\n    break\n    case 'setMode':\n        context.set('slotmode', msg.playload)\n        return msg;\n    default:\n        return msg;\n}\n\nconst sun =weather.sun_next_h>20; // min/h\nconst tfor=weather.temp_max_today;\nconst tout=weather.temp;\nconst tin =context.get('intemp');\nconst cin =classifyTemp(tin,  tinmax,  0.5);\nconst cout=classifyTemp(tout, toutmax, 1.0);\nconst cfor=classifyTemp(tfor, toutmax, 1.0);\n\nconst hot         =        cout>T_HIGH;\nconst warmsun     =sun && (cout>T_LOW  && cin>T_LOW);\nconst warminhot   =        cout>T_LOW  && cin>T_HIGH;\nconst forhotsun   =sun &&  cfor>T_HIGH;\nconst forhotinwarm=        cfor>T_HIGH && cin>T_LOW;\nconst cold   =             cout<T_LOW;\nconst nothot =             cout<T_HIGH && cin<T_OK;\n\nlet slotmode=-1;\nlet slotmodealt=context.get('slotmode');\n\nnode.log(`${name}-mode:${slotmodealt}`\n    + ` To:${tout}/${toutmax}/${cout} Ti:${tin}/${tinmax}/${cin}`\n    + ` Tf:${tfor}/${cfor} s${sun}/${weather.sun_next_h}`\n    + ` h:${hot} ws:${warmsun} wih:${warminhot}`\n    + ` fhs:${forhotsun} fhiw:${forhotinwarm}`\n    + ` cold:${cold} nhot${nothot}`);\n\nif (tin===undefined || tout===undefined || tfor==undefined) {\n    return;\n}\nif (cold||nothot) {\n    node.log(\"###### cold ######\")\n    slotmode=0; // no sunlight control   \n} else if (hot||warmsun||warminhot||forhotsun||forhotinwarm) {\n    node.log(\"###### warm ######\")\n    slotmode=2; // restrict sunlight\n}\nif (slotmode!=slotmodealt) {\n    node.log(`###### sm:${slotmode} ######`);\n    context.set('slotmode', slotmode);\n}\nif (slotmode!=-1) {\n    let msg_out={};\n    msg_out.topic=\"setMode\";\n    msg_out.payload=slotmode;\n    return msg_out;\n}\n\nfunction classifyTemp(t, tsoll, thyst) {\n    let c=T_OK;\n    if     (t>tsoll+2*thyst) c=T_HOT;\n    else if(t>tsoll+1*thyst) c=T_HIGH;\n    else if(t<tsoll-2*thyst) c=T_COLD;\n    else if(t<tsoll-1*thyst) c=T_LOW;\n    node.log(`class:${t} s:${tsoll} h:${thyst}=${c}`);\n    return c;\n}\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('outhot',     false);\nflow.set('block',      false);\n\nflow.set('mor_earl',    checkTime(env.get('mor_earl'),'0:00'));\nflow.set('mor_earl_we', checkTime(env.get('mor_earl_we'),'0:00'));\nflow.set('ev_lat',      checkTime(env.get('ev_lat'),'23:59'));\n\ncontext.set('intemp',     20);\ncontext.set('weather',  {});\ncontext.set('slotmode', 0);\n\nfunction checkTime(tstr, def) {\n    if(/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/.test(tstr))\n        return tstr;\n    else\n        return def;\n} \n","finalize":"","x":280,"y":150,"wires":[["85fd8ca4.b32fa"],[]]},{"id":"11f8611f.5f110f","type":"mqtt in","z":"98d1d6d3.533d8","name":"Küche Temp","topic":"fhem/kueche/temp/temperature","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":150,"y":150,"wires":[["57c45488.55653c","bd6ef07a.fd6dc8"]]},{"id":"c76d7dfe.4a1e3","type":"mqtt in","z":"98d1d6d3.533d8","name":"Schlaf Temp","topic":"fhem/schlaf/temp/temperature","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":150,"y":290,"wires":[["9d6c2774.82e348","eacb9308.4503d8"]]},{"id":"471d11f7.36a16","type":"mqtt in","z":"98d1d6d3.533d8","name":"Bad Temp","topic":"fhem/bad/temp/temperature","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":140,"y":360,"wires":[["c22fd2dc.fb277","c0233d36.7f5128"]]},{"id":"4be2eeaf.f9ed38","type":"mqtt in","z":"98d1d6d3.533d8","name":"Studio Temp","topic":"fhem/studio/temp/temperature","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":150,"y":430,"wires":[["84f28367.f8623","8fa57774.844ff"]]},{"id":"c22fd2dc.fb277","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"influxdb","measurement":"bad_temp","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":380,"wires":[],"l":false},{"id":"9d6c2774.82e348","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"","measurement":"schlaf_temp","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":310,"wires":[],"l":false},{"id":"57c45488.55653c","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"influxdb","measurement":"kueche_temp","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":170,"wires":[],"l":false},{"id":"84f28367.f8623","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"influxdb","measurement":"studio_temp","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":450,"wires":[],"l":false},{"id":"7242d2ce.3cdc6c","type":"mqtt in","z":"98d1d6d3.533d8","name":"Wohnz.Temp","topic":"fhem/wohn/temp/temperature","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":150,"y":220,"wires":[["a83e47bb.0755","2dbb2bdd.2356d4"]]},{"id":"a83e47bb.0755","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"influxdb","measurement":"wohn_temp","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":240,"wires":[],"l":false},{"id":"35e78d69.0ced1a","type":"mqtt in","z":"98d1d6d3.533d8","name":"Aussentemp","topic":"fhem/terrasse/wetter/Temp-outside","qos":"2","datatype":"json","broker":"7ba92310.5f9f9c","x":150,"y":80,"wires":[["1ee3b3a5.2fc5cc","60782bad.01787c","b09c8369.326e88"]]},{"id":"1ee3b3a5.2fc5cc","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"","measurement":"out_temp","precision":"m","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":100,"wires":[],"l":false},{"id":"6a5ac99e.c32328","type":"link in","z":"a0bc08fa.831148","name":"Temp Küche","links":["cf96968.a2f9368"],"x":100,"y":110,"wires":[["3f7cb98d.faca86"]],"l":true},{"id":"93f9ab9c.f99378","type":"link in","z":"a0bc08fa.831148","name":"Temp Wohn","links":["cb734690.de9f1"],"x":100,"y":200,"wires":[["40032fa9.7de27"]],"l":true},{"id":"c83d9d28.ea3088","type":"link in","z":"a0bc08fa.831148","name":"Temp Schlaf","links":["d0816dd8.56c0b8"],"x":100,"y":290,"wires":[["964c41ae.707"]],"l":true},{"id":"1f15857d.0de36b","type":"link in","z":"a0bc08fa.831148","name":"Temp Bad","links":["61cc8599.c265cc"],"x":90,"y":380,"wires":[["7c4ac185.5dbf18"]],"l":true},{"id":"63e4fd97.30020c","type":"link in","z":"a0bc08fa.831148","name":"Temp Studio","links":["7bfef47d.27e354"],"x":100,"y":470,"wires":[["e923542a.d48448"]],"l":true},{"id":"42f1b1d9.3f1898","type":"link in","z":"450d0d20.7f1e2c","name":"Temp Außen","links":["546bc7e0.83371"],"x":100,"y":100,"wires":[["c9ba1cad.7c39c8"]],"l":true},{"id":"cf96968.a2f9368","type":"link out","z":"98d1d6d3.533d8","name":"temp Küche","links":["6a5ac99e.c32328","8713399.ec1aa48"],"x":675,"y":150,"wires":[]},{"id":"cb734690.de9f1","type":"link out","z":"98d1d6d3.533d8","name":"temp Wohn","links":["2a56a3ab.a762dc","93f9ab9c.f99378"],"x":675,"y":220,"wires":[]},{"id":"546bc7e0.83371","type":"link out","z":"98d1d6d3.533d8","name":"temp out","links":["42f1b1d9.3f1898","a7eff4a7.1a60a"],"x":675,"y":80,"wires":[]},{"id":"61cc8599.c265cc","type":"link out","z":"98d1d6d3.533d8","name":"temp Bad","links":["1f15857d.0de36b","b531425f.7a8b3"],"x":675,"y":360,"wires":[]},{"id":"d0816dd8.56c0b8","type":"link out","z":"98d1d6d3.533d8","name":"temp Schlaf","links":["c83d9d28.ea3088","1f967ea2.e12d59"],"x":675,"y":290,"wires":[]},{"id":"7bfef47d.27e354","type":"link out","z":"98d1d6d3.533d8","name":"temp Studio","links":["63e4fd97.30020c","3fa6c38.097b63c"],"x":675,"y":430,"wires":[]},{"id":"60782bad.01787c","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["ce00b8e3.11931"]]},{"id":"bd6ef07a.fd6dc8","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":150,"wires":[["f1d7d905.61736"]]},{"id":"2dbb2bdd.2356d4","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["12233dbf.581a52"]]},{"id":"eacb9308.4503d8","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":290,"wires":[["d80781c4.b94cf8"]]},{"id":"c0233d36.7f5128","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["df86dbda.57f9c8"]]},{"id":"8fa57774.844ff","type":"change","z":"98d1d6d3.533d8","name":"topic=temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":430,"wires":[["a97da1b8.44629"]]},{"id":"c1bc24c7.82b1b","type":"function","z":"bdf5ea3f.af43","name":"","func":"\nlet offset=env.get('offset');\n\nif (typeof  msg.payload==='string') {\n    msg.payload=parseFloat(msg.payload);\n}\n\nmsg.payload+=offset;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[[]]},{"id":"f1d7d905.61736","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","env":[{"name":"offset","value":"0.2","type":"num"}],"x":560,"y":150,"wires":[["cf96968.a2f9368"]]},{"id":"ce00b8e3.11931","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","x":560,"y":80,"wires":[["546bc7e0.83371"]]},{"id":"12233dbf.581a52","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","x":560,"y":220,"wires":[["cb734690.de9f1"]]},{"id":"d80781c4.b94cf8","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","x":560,"y":290,"wires":[["d0816dd8.56c0b8"]]},{"id":"df86dbda.57f9c8","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","x":560,"y":360,"wires":[["61cc8599.c265cc"]]},{"id":"a97da1b8.44629","type":"subflow:bdf5ea3f.af43","z":"98d1d6d3.533d8","name":"","x":560,"y":430,"wires":[["7bfef47d.27e354"]]},{"id":"6b592107.073bb","type":"mqtt in","z":"98d1d6d3.533d8","name":"Terrassentür","topic":"fhem/wohn/fenster/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":150,"y":530,"wires":[["60bb1e6c.546f68"]]},{"id":"b32bc7ca.0e4968","type":"link out","z":"98d1d6d3.533d8","name":"Terrassentür","links":["2b960e72.ec0bd2","da0ce3ca.7839e"],"x":675,"y":530,"wires":[]},{"id":"2b960e72.ec0bd2","type":"link in","z":"a0bc08fa.831148","name":"Terrassentür","links":["b32bc7ca.0e4968"],"x":100,"y":670,"wires":[["d7759238.be6728"]],"l":true},{"id":"da0ce3ca.7839e","type":"link in","z":"5d53e9ec.28daa","name":"Terrassentür","links":["b32bc7ca.0e4968"],"x":120,"y":70,"wires":[["7cb07824.ce83e"]],"l":true},{"id":"60bb1e6c.546f68","type":"change","z":"98d1d6d3.533d8","name":"topic=fenster","rules":[{"t":"set","p":"topic","pt":"msg","to":"fenster","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":530,"wires":[["b32bc7ca.0e4968"]]},{"id":"9fa26434.d7cf28","type":"function","z":"b1002e85.77af28","name":"30min 0.5sec","func":"\nconst minutesEachLoop = 30; // minutes to add\nconst loopCycle = 0.5; // seconds delay\nlet timeObj = context.get(\"timeObj\");\n\nif (timeObj && msg.topic.includes('stop')) {\n    clearInterval(timeObj);\n    context.set(\"timeObj\", null);\n    context.set(\"orgtopic\", null);\n    let d = new Date(context.get(\"date\"));\n    node.log(\"STOP    \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.log('<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ' + d.toISOString());\n    node.status({fill:\"red\",shape:\"ring\",text:\"stopped - \" + d.toLocaleTimeString()});\n    return null;\n} else if (!timeObj && msg.topic.includes('start')) {\n    context.set(\"message\", msg);\n    context.set(\"orgtopic\", msg.topic);\n    let d = new Date();\n    let num = Number(msg.payload) || 0;\n    d.setHours(num);\n    d.setMinutes(0);\n    context.set(\"date\", d.getTime());\n    msg.tsISO = d.toISOString();\n    msg.ts = d.getTime();\n    msg.topic += ' ' + d.toLocaleTimeString();\n    node.log('>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>');\n    node.log(\"START   \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n    node.send(msg);\n\n    let timeObj = setInterval(function(){\n        let msg = context.get(\"message\");\n        let topic = context.get(\"orgtopic\");\n        let d = new Date(context.get(\"date\"));\n        //d.setHours(d.getHours()+1);\n        let dt = d.getDate();\n        let dm = d.getMonth();\n        d.setMinutes(d.getMinutes() + minutesEachLoop)\n        d.setDate(dt);\n        d.getMonth(dm);\n        context.set(\"date\", d.getTime());\n        msg.tsISO = d.toISOString();\n        msg.ts = d.getTime();\n        msg.topic = topic + ' ' + d.toLocaleTimeString();\n        node.status({fill:\"green\",shape:\"dot\",text:\"run - \" + d.toLocaleTimeString()});\n        node.log(\"sending \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\n        node.send(msg);\n\t}, (1000 * loopCycle));\n    context.set(\"timeObj\", timeObj);\n    node.status({fill:\"green\",shape:\"ring\",text:\"start - \" + d.toLocaleTimeString()});\n    return null;\n}\n\nlet d = new Date(context.get(\"date\"));\nif (!(d instanceof Date) || isNaN(d)) {\n    d = new Date();\n}\nd.setMinutes(d.getMinutes() + 1)\n//d.setHours(d.getHours()+1);\nmsg.tsISO = d.toISOString();\nmsg.ts = d.getTime();\nmsg.topic += ' ' + d.toLocaleTimeString();\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"interposed - \" + d.toLocaleTimeString()});\nnode.log(\"sending interposed msg \" + d.toLocaleTimeString() + ' ####################################### payload='+msg.payload+' topic='+msg.topic);\nnode.send(msg);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":170,"wires":[["b6ce72e6.1bc98"]]},{"id":"a4974bae.039688","type":"inject","z":"b1002e85.77af28","name":"","props":[{"p":"payload","v":"0","vt":"num"},{"p":"topic","v":"start/stop","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start/stop","payload":"0","payloadType":"num","x":145,"y":125,"wires":[["9fa26434.d7cf28"]]},{"id":"cb037fe0.a1981","type":"inject","z":"b1002e85.77af28","name":"reset","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"resetOverwrite","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"resetOverwrite","payload":"true","payloadType":"bool","x":120,"y":215,"wires":[["9959d72a.7bd098"]]},{"id":"78a61a2e.eb8d14","type":"inject","z":"b1002e85.77af28","name":"manual off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"manual","payload":"-1","payloadType":"num","x":130,"y":255,"wires":[["97c2fcf1.6cd3f"]]},{"id":"6f4e6bba.676104","type":"inject","z":"b1002e85.77af28","name":"60%","props":[{"p":"payload","v":"0.6","vt":"num"},{"p":"topic","v":"levelOverwrite","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"levelOverwrite","payload":"0.6","payloadType":"num","x":120,"y":300,"wires":[["9fa26434.d7cf28"]]},{"id":"8bd86738.d46218","type":"comment","z":"b1002e85.77af28","name":"manual overrides:","info":"","x":115,"y":170,"wires":[]},{"id":"917a42ec.46fdc","type":"inject","z":"b1002e85.77af28","name":"90%, expire 2,5s","props":[{"p":"payload","v":"{\"position\":0.9,\"expire\":2500}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":0.9,\"expire\":2500}","payloadType":"json","x":150,"y":350,"wires":[["9fa26434.d7cf28"]]},{"id":"18fb2805.990618","type":"inject","z":"b1002e85.77af28","name":"30% importance 1","props":[{"p":"payload","v":"{\"position\":0.3,\"importance\":1}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"position\":0.3,\"importance\":1}","payloadType":"json","x":130,"y":395,"wires":[[]]},{"id":"75acbdf8.e57ae4","type":"inject","z":"b1002e85.77af28","name":"100% importance 1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"importance\":1, \"position\":1}","payloadType":"json","x":140,"y":440,"wires":[["9fa26434.d7cf28"]]},{"id":"e4627512.874a38","type":"blind-control","z":"b1002e85.77af28","name":"","topic":"","positionConfig":"9cdd0771.1cfdb8","outputs":1,"autoTrigger":false,"autoTriggerTime":"1200000","startDelayTime":"0","blindIncrement":"0.01","blindOpenPos":"1","blindClosedPos":0,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"7200000","rules":[{"index":0,"name":"","timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"10%","levelType":"levelFixed","levelOp":1,"levelOpText":"⭳❗ minimum (oversteer)","validOperandAValue":"windowOpen","validOperandAType":"msg","validOperator":"true","validOperatorText":"is true","validOperandBValue":"windowOpen","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> msg.windowOpen is true</div><div>⭳❗ minimum (oversteer) 10%</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":1,"name":"","timeValue":"5:30","timeType":"entered","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 5:30</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":2,"name":"","timeValue":"7:25","timeType":"entered","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"dayInfo.today.isWeekendOrHoliday","validOperandAType":"flow","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....fo.today.isWeekendOrHoliday is true</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until 7:25</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":3,"name":"","timeValue":"civilDawn","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ until civilDawn</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":4,"name":"","timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelND","levelOp":1,"levelOpText":"⭳❗ minimum (oversteer)","validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div>⭳✋ reset minimum</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":5,"name":"","timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ until","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"50%","levelType":"levelFixed","levelOp":2,"levelOpText":"⭱️❗ maximum (oversteer)","validOperandAValue":"raining","validOperandAType":"msg","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> msg.raining is true</div><div>⭱️❗ maximum (oversteer) 50%</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":6,"name":"","timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ from","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from civilDusk</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":7,"name":"","timeValue":"21:25","timeType":"entered","timeOp":1,"timeOpText":"↧ from","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"dayInfo.tomorrow.isWeekendOrHoliday","validOperandAType":"flow","validOperator":"false","validOperatorText":"is false","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> flow....tomorrow.isWeekendOrHoliday is false</div><div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 21:25</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0},{"index":8,"name":"","timeValue":"23:15","timeType":"entered","timeOp":1,"timeOpText":"↧ from","offsetValue":"","offsetType":"none","multiplier":60000,"timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕ absolute","validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"is true","validOperandBValue":"","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"is true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ from 23:15</div><div>↕ absolute closed (min)</div>","valid":{},"isValid":false,"importance":0,"timeDays":"*","timeMonths":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeDateStart":"","timeDateEnd":"","timeMinOp":0,"timeMaxOp":0}],"sunControlMode":"2","sunFloorLength":"0.6","sunMinAltitude":"","sunMinDelta":"0.1","blindPosMin":"closed (min)","blindPosMinType":"levelFixed","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","sunTopic":"","windowTop":"1.28","windowBottom":"0","windowAzimuthStart":"70","windowAzimuthEnd":"150","oversteerValue":"","oversteerValueType":"none","oversteerCompare":"gte","oversteerThreshold":"50","oversteerThresholdType":"num","oversteerBlindPos":"open (max)","oversteerBlindPosType":"levelFixed","oversteer2Value":"","oversteer2ValueType":"none","oversteer2Compare":"gte","oversteer2Threshold":"","oversteer2ThresholdType":"num","oversteer2BlindPos":"open (max)","oversteer2BlindPosType":"levelFixed","oversteer3Value":"","oversteer3ValueType":"none","oversteer3Compare":"gte","oversteer3Threshold":"","oversteer3ThresholdType":"num","oversteer3BlindPos":"open (max)","oversteer3BlindPosType":"levelFixed","oversteerTopic":"","x":680,"y":170,"wires":[[]]},{"id":"930dc605.f37e98","type":"debug","z":"b1002e85.77af28","name":"Blind position Test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":915,"y":170,"wires":[]},{"id":"fcebc117.0ba76","type":"change","z":"b1002e85.77af28","name":"dayInfo.today.isWeekendOrHoliday","rules":[{"t":"set","p":"hot","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":245,"wires":[[]]},{"id":"1556f0f6.4c295f","type":"inject","z":"b1002e85.77af28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":465,"y":245,"wires":[["fcebc117.0ba76"]]},{"id":"95f5dcf8.fb3da","type":"inject","z":"b1002e85.77af28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":465,"y":290,"wires":[["fcebc117.0ba76"]]},{"id":"a1a99042.744ee","type":"change","z":"b1002e85.77af28","name":"dayInfo.tomorrow.isWeekendOrHoliday","rules":[{"t":"set","p":"dayInfo.tomorrow.isWeekendOrHoliday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":745,"y":335,"wires":[[]]},{"id":"bb16e80.cec0118","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":465,"y":335,"wires":[["a1a99042.744ee"]]},{"id":"c68f8ed9.67bc4","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":465,"y":380,"wires":[["a1a99042.744ee"]]},{"id":"b29e68ff.8f3f78","type":"comment","z":"b1002e85.77af28","name":"Example 4:","info":"","x":85,"y":80,"wires":[]},{"id":"30b1da8a.0f5b36","type":"change","z":"b1002e85.77af28","name":"","rules":[{"t":"set","p":"windowOpen","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":425,"wires":[["abc692f9.5abbc"]]},{"id":"18ca7b36.b24635","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"window open","payload":"true","payloadType":"bool","x":495,"y":425,"wires":[["30b1da8a.0f5b36"]]},{"id":"dd4215ea.95feb8","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"window closed","payload":"false","payloadType":"bool","x":515,"y":470,"wires":[["30b1da8a.0f5b36"]]},{"id":"a07ada0.153bb28","type":"link in","z":"b1002e85.77af28","name":"do_refreshBlind_state","links":["abc692f9.5abbc","dba49bc7.8be158"],"x":340,"y":95,"wires":[["9fa26434.d7cf28"]]},{"id":"abc692f9.5abbc","type":"link out","z":"b1002e85.77af28","name":"trigger_refreshBlind_state","links":["a07ada0.153bb28"],"x":985,"y":425,"wires":[]},{"id":"9c71367b.c44268","type":"change","z":"b1002e85.77af28","name":"","rules":[{"t":"set","p":"raining","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":515,"wires":[["abc692f9.5abbc"]]},{"id":"4675dee4.3e4d5","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"is raining","payload":"true","payloadType":"bool","x":485,"y":515,"wires":[["9c71367b.c44268"]]},{"id":"b3d664d3.f1ec48","type":"inject","z":"b1002e85.77af28","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.7","topic":"is raining","payload":"false","payloadType":"bool","x":495,"y":560,"wires":[["9c71367b.c44268"]]},{"id":"b6ce72e6.1bc98","type":"blind-control","z":"b1002e85.77af28","name":"Blind","topic":"rule","positionConfig":"9cdd0771.1cfdb8","outputs":1,"autoTrigger":true,"autoTriggerTime":"10800000","startDelayTime":"2000","storeName":"","blindIncrement":"1","blindOpenPos":"100","blindClosedPos":0,"blindPosReverse":false,"blindPosDefault":"open (max)","blindPosDefaultType":"levelFixed","overwriteExpire":"","rules":[{"index":0,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"open (max)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"block","validOperandAType":"flow","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>flow.block</var> ist true</div><div>↕  Absolut <var>offen (max)</var></div>","timeMinOp":0,"timeMaxOp":0},{"index":1,"name":"Abend","isValid":false,"valid":{},"timeValue":"goldenHourDuskStart","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"10","offsetType":"num","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"open (max)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":true,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>Goldene Abendstunde Begin</var> + 00:10</div><div>↕  Absolut <var>offen (max)</var><div class=\"indent-resetOverwrite-text\"> <span>manuelle Überschreibung verfällt wenn die Regel aktiv wird</span> </div></div>","timeMinOp":0,"timeMaxOp":0},{"index":2,"name":"Nacht","isValid":false,"valid":{},"timeValue":"civilDusk","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"closed (min)","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":true,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>bürgerliche Abenddämmerung</var></div><div>↕  Absolut <var>geschlossen (min)</var><div class=\"indent-resetOverwrite-text\"> <span>manuelle Überschreibung verfällt wenn die Regel aktiv wird</span> </div></div>","timeMinOp":0,"timeMaxOp":0},{"index":3,"name":"","isValid":false,"valid":{},"timeValue":"","timeType":"none","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"levelValue":"50%","levelType":"levelFixed","levelOp":0,"levelOpText":"↕  Absolut","topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"","validOperandAType":"msgPayload","validOperator":"equal","validOperatorText":"=","validOperandBValue":"hot","validOperandBType":"str","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-code-fork\" aria-hidden=\"true\"></i> <var>msg.payload</var> = \"hot\"</div><div>↕  Absolut <var>50%</var></div>","timeMinOp":0,"timeMaxOp":0}],"sunControlMode":"2","sunFloorLength":"","sunMinAltitude":"","sunMinDelta":"","blindPosMin":"50","blindPosMinType":"num","blindPosMax":"open (max)","blindPosMaxType":"levelFixed","smoothTime":"","sunTopic":"sonne","windowTop":"200","windowBottom":"5","windowAzimuthStart":"95","windowAzimuthEnd":"130","oversteerValue":"","oversteerValueType":"none","oversteerCompare":"true","oversteerThreshold":"","oversteerThresholdType":"num","oversteerBlindPos":"open (max)","oversteerBlindPosType":"levelFixed","oversteer2Value":"","oversteer2ValueType":"none","oversteer2Compare":"true","oversteer2Threshold":"","oversteer2ThresholdType":"num","oversteer2BlindPos":"open (max)","oversteer2BlindPosType":"levelFixed","oversteer3Value":"","oversteer3ValueType":"none","oversteer3Compare":"true","oversteer3Threshold":"","oversteer3ThresholdType":"num","oversteer3BlindPos":"open (max)","oversteer3BlindPosType":"levelFixed","oversteerTopic":"","x":650,"y":120,"wires":[["930dc605.f37e98"]]},{"id":"e40fa4bd.b6eae8","type":"inject","z":"b1002e85.77af28","name":"Beschatten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setMode","payload":"2","payloadType":"num","x":480,"y":70,"wires":[["9fa26434.d7cf28"]]},{"id":"f9f4f7f1.a16d38","type":"inject","z":"b1002e85.77af28","name":"Offen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setMode","payload":"0","payloadType":"num","x":460,"y":110,"wires":[["9fa26434.d7cf28"]]},{"id":"7cb07824.ce83e","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Wohn TerrR","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"210","type":"str"},{"name":"azend","value":"20","type":"str"},{"name":"name","value":"wohn TerrR","type":"str"},{"name":"fhemname","value":"wohn.rollTerrR","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":530,"y":70,"wires":[["85298c8c.b4b868"]]},{"id":"85d6a69e.c62b78","type":"subflow:d4053697.493c7","z":"b1002e85.77af28","name":"Rollladen","env":[{"name":"tempwarm","value":"-5","type":"num"},{"name":"azstart","value":"150","type":"str"},{"name":"azend","value":"370","type":"str"},{"name":"name","value":"test","type":"str"},{"name":"fhemname","value":"test.roll","type":"str"},{"name":"aufzeitmin","value":"10:00","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":690,"y":60,"wires":[["930dc605.f37e98"]]},{"id":"ec154cf0.ff737","type":"change","z":"b1002e85.77af28","name":"dayInfo.today.isWeekendOrHoliday","rules":[{"t":"set","p":"dayInfo.today.isWeekendOrHoliday","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[[]]},{"id":"2bff76bc.f4880a","type":"inject","z":"b1002e85.77af28","name":"hot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tempout","payload":"35","payloadType":"num","x":140,"y":490,"wires":[["85d6a69e.c62b78"]]},{"id":"40654918.a9a4","type":"inject","z":"b1002e85.77af28","name":"cold","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tempout","payload":"10","payloadType":"num","x":140,"y":530,"wires":[["85d6a69e.c62b78"]]},{"id":"e2b3c659.4d917","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"ess","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"name","value":"ess ","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":510,"y":170,"wires":[["99b315aa.8b483"]]},{"id":"e06efb78.06b1a","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"KuchStr","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"30","type":"str"},{"name":"azend","value":"205","type":"str"},{"name":"name","value":"kuch.str","type":"str"},{"name":"fhemname","value":"kuch.rollStr","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":520,"y":240,"wires":[["458b392b.48fd38"]]},{"id":"ca62f19c.e26ab8","type":"ui_switch","z":"aa1f09f3.b20558","name":"","label":"Esszimmer","tooltip":"","group":"12f317c6.04caa8","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"fhem/cmnd","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":420,"y":460,"wires":[["ffebbae5.df8ef8"]]},{"id":"4e78c828.c1e89","type":"mqtt out","z":"aa1f09f3.b20558","name":"","topic":"fhem/cmnd","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":875,"y":460,"wires":[],"l":false},{"id":"2222c9ba.da2e06","type":"mqtt in","z":"aa1f09f3.b20558","name":"Essz","topic":"fhem/ess/dimm/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":90,"y":460,"wires":[["ca62f19c.e26ab8"]]},{"id":"ffebbae5.df8ef8","type":"function","z":"aa1f09f3.b20558","name":"2fhem","func":"\nreturn { payload: \"set ess.dimm \" +msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":460,"wires":[["4e78c828.c1e89","6b7aa939.b5f8b"]]},{"id":"8d2d43e8.ba1db8","type":"function","z":"6b5e0528.961f24","name":"2fhem","func":"\nlet fhemname;\nif(typeof msg.fhemname!=='undefined') fhemname=msg.fhemname;\nelse                                  fhemname=env.get('fhemname');\n\n//node.warn(`fhemname:${fhemname}`);\nif (!fhemname) return;\n\nconst setval=msg.payload;\n\nconst upslot=3;\nconst tup=env.get('tup'); // Zeit hochfahren Schlitz sek\nconst tw =env.get('twait')*1000; // Zeit Runter abwarten msek\nlet tdelay=0;\nif(msg.topic==='delayed') {\n    tdelay=Math.floor((Math.random() * 90000));\n}\n\nlet timid=context.get('timid_up'); clearTimeout(timid);\ntimid=context.get('timid_go'); clearTimeout(timid);\n\nmsg.name=env.get('name');\nlet pl=`set ${fhemname}`;\nif      (msg.topic==='stop') pl+=' stop';\nelse if (setval<=0)          pl+=' closes';\nelse if (setval>=100)        pl+=' opens';\nelse { // Beschattung\n    const plup=pl+` up ${tup}`;\n    node.log(`send slot pl:${plup} delay:${tw+tdelay}`);\n    let timid=setTimeout(()=>{ node.send({payload: plup}) }, tw+tdelay); \n    context.set('timid_up', timid);\n    pl+=' closes';\n}\nnode.log(`send pl:${pl} delay:${tdelay}`);\ntimid=setTimeout(()=>{ node.send({payload: pl}) }, tdelay); \ncontext.set('timid_go', timid);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["3559a348.c475b4","b51d71f.69a0d1"]]},{"id":"3559a348.c475b4","type":"mqtt out","z":"6b5e0528.961f24","name":"","topic":"fhem/cmnd","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":370,"y":80,"wires":[]},{"id":"b51d71f.69a0d1","type":"debug","z":"6b5e0528.961f24","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":150,"wires":[]},{"id":"80c4ef1d.c82628","type":"ui_button","z":"aa1f09f3.b20558","name":"","group":"12f317c6.04caa8","order":9,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"wb_incandescent","payload":"on","payloadType":"str","topic":"","x":440,"y":250,"wires":[["19ce5b56.0ca635","34e4e3aa.4d6c8c"]]},{"id":"99b315aa.8b483","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Ess","env":[{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"name","value":"Ess","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":170,"wires":[],"l":false},{"id":"97c2fcf1.6cd3f","type":"change","z":"b1002e85.77af28","name":"blk","rules":[{"t":"set","p":"block","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":250,"wires":[["9fa26434.d7cf28"]]},{"id":"9959d72a.7bd098","type":"change","z":"b1002e85.77af28","name":"blk0","rules":[{"t":"set","p":"block","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":200,"wires":[["9fa26434.d7cf28"]]},{"id":"85298c8c.b4b868","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"TerrR","env":[{"name":"fhemname","value":"wohn.rollTerrR","type":"str"},{"name":"name","value":"TerrR","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":70,"wires":[],"l":false},{"id":"458b392b.48fd38","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"KücheStr","env":[{"name":"fhemname","value":"kuch.rollStr","type":"str"},{"name":"name","value":"KücheStr","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":240,"wires":[],"l":false},{"id":"60c1de5f.65ecc","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"TerrL","env":[{"name":"fhemname","value":"wohn.rollTerrL","type":"str"},{"name":"name","value":"TerrL","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":100,"wires":[],"l":false},{"id":"e420cfc6.dc4108","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Sofa","env":[{"name":"fhemname","value":"wohn.rollSofa","type":"str"},{"name":"name","value":"Sofa","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":130,"wires":[],"l":false},{"id":"b7f45673.f5a3b8","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"KüchBar","env":[{"name":"fhemname","value":"kuch.rollBar","type":"str"},{"name":"name","value":"KücheBar","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":210,"wires":[],"l":false},{"id":"a7eff4a7.1a60a","type":"link in","z":"5d53e9ec.28daa","name":"temp Out","links":["546bc7e0.83371"],"x":110,"y":380,"wires":[["5c41d9dc.e8f77"]],"l":true},{"id":"4f0278f3.c5b488","type":"dwdweather","z":"5d53e9ec.28daa","name":"","mosmixStation":"C0015","lookAheadHours":"0","additionalFields":"°>TX,>SunD,>SunD1","repeat":"1800","topic":"dwd","x":120,"y":420,"wires":[["5c41d9dc.e8f77"]]},{"id":"60dbf75c.6b6398","type":"inject","z":"5d53e9ec.28daa","name":"","props":[{"p":"payload.lookAheadHours","v":"0","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":85,"y":470,"wires":[["4f0278f3.c5b488"]],"l":false},{"id":"b5adc5d9.48af","type":"ui_text","z":"5d53e9ec.28daa","group":"bfddb128.b86098","order":5,"width":0,"height":0,"name":"","label":"dwd temp max","format":"{{msg.payload.temp_max_today}} C","layout":"row-spread","x":540,"y":460,"wires":[]},{"id":"edff78b7.c53368","type":"ui_text","z":"5d53e9ec.28daa","group":"bfddb128.b86098","order":5,"width":0,"height":0,"name":"","label":"dwd sonne next 1h","format":"{{msg.payload.sun_next_h}} min","layout":"row-spread","x":550,"y":490,"wires":[]},{"id":"5df93b9.b6c67c4","type":"ui_text","z":"5d53e9ec.28daa","group":"bfddb128.b86098","order":5,"width":0,"height":0,"name":"","label":"dwd sonne heute","format":"{{msg.payload.sun_today}} min","layout":"row-spread","x":550,"y":520,"wires":[]},{"id":"5c41d9dc.e8f77","type":"function","z":"5d53e9ec.28daa","name":"mux","func":"\nw=context.get('weather');\n\nswitch(msg.topic) {\n    case 'dwd':\n        w.sun_next_h    =msg.payload.SunD1/60;\n        w.sun_today     =msg.payload.SunD/60;\n        w.temp_max_today=msg.payload.TX;\n        break;\n    case 'temp':\n        w.temp=msg.payload;\n        break;\n    case 'time':\n        break;\n    default:\n        return;\n}\ncontext.set('weather', w);\n\nlet m={topic: 'weather'};\nm.payload=w;\nreturn m;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('weather', {});\n","finalize":"","x":280,"y":420,"wires":[["b5adc5d9.48af","edff78b7.c53368","5df93b9.b6c67c4","7cb07824.ce83e","e2b3c659.4d917","e06efb78.06b1a","c2431ab2.acb47","4fe35e3.49eb8a","b7dd8982.5f88a","6fbe8bc6.d0b294","cdd2f4fd.1f49c","16aa9c7d.27f88c","732c7c4c.67481c","bbfb7d6a.2af8a8"]]},{"id":"c2431ab2.acb47","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Wohn TerrL","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"210","type":"str"},{"name":"azend","value":"20","type":"str"},{"name":"name","value":"wohn TerrL","type":"str"},{"name":"fhemname","value":"wohn.rollTerrR","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":530,"y":100,"wires":[["60c1de5f.65ecc"]]},{"id":"4fe35e3.49eb8a","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Wohn sofa","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"name","value":"wohn sofa","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":530,"y":130,"wires":[["e420cfc6.dc4108"]]},{"id":"b7dd8982.5f88a","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Küche Bar","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"name","value":"kueche.bar","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":530,"y":210,"wires":[["b7f45673.f5a3b8"]]},{"id":"8713399.ec1aa48","type":"link in","z":"5d53e9ec.28daa","name":"temp Küche","links":["cf96968.a2f9368"],"x":120,"y":170,"wires":[["e2b3c659.4d917","b7dd8982.5f88a","e06efb78.06b1a"]],"l":true},{"id":"6fbe8bc6.d0b294","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Arb Terr","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"210","type":"str"},{"name":"azend","value":"20","type":"str"},{"name":"name","value":"Arb Terr","type":"str"},{"name":"fhemname","value":"wohn.rollTerrR","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":520,"y":280,"wires":[["9ef3b0e9.f89708"]]},{"id":"cdd2f4fd.1f49c","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Arb Weg","env":[{"name":"tempwarm","value":"21","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"name","value":"arb.weg","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":520,"y":310,"wires":[["ffa8fd1f.ad0ed"]]},{"id":"16aa9c7d.27f88c","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Bad","env":[{"name":"tempwarm","value":"22","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"name","value":"bad.weg","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":510,"y":350,"wires":[["f1cbb3b0.75832"]]},{"id":"732c7c4c.67481c","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"Schlaf Weg","env":[{"name":"tempwarm","value":"20","type":"num"},{"name":"azstart","value":"120","type":"str"},{"name":"azend","value":"290","type":"str"},{"name":"mor_earl","value":"6:30","type":"str"},{"name":"mor_earl_we","value":"8:00","type":"str"},{"name":"name","value":"schlaf.weg","type":"str"},{"name":"mintime","value":"8:00","type":"str"},{"name":"fhemname","value":"ess.roll","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":530,"y":390,"wires":[["d8990d84.7260b8"]]},{"id":"bbfb7d6a.2af8a8","type":"subflow:d4053697.493c7","z":"5d53e9ec.28daa","name":"SchlafStr","env":[{"name":"tempwarm","value":"20","type":"num"},{"name":"azstart","value":"30","type":"str"},{"name":"azend","value":"205","type":"str"},{"name":"name","value":"schlaf str","type":"str"},{"name":"nightclose","value":"false","type":"bool"},{"name":"fhemname","value":"kuch.rollStr","type":"str"},{"name":"tempsoll","value":"-5","type":"num"}],"x":520,"y":420,"wires":[["70734258.493fcc"]]},{"id":"9ef3b0e9.f89708","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Arb.Terr","env":[{"name":"fhemname","value":"arb.rollTerr","type":"str"},{"name":"name","value":"Arb Terr","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":280,"wires":[],"l":false},{"id":"ffa8fd1f.ad0ed","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Arb.Weg","env":[{"name":"fhemname","value":"arb.rollWeg","type":"str"},{"name":"name","value":"Arb Weg","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":310,"wires":[],"l":false},{"id":"f1cbb3b0.75832","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Bad","env":[{"name":"fhemname","value":"bad.roll","type":"str"},{"name":"name","value":"Bad","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":350,"wires":[],"l":false},{"id":"d8990d84.7260b8","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Schl.Weg","env":[{"name":"fhemname","value":"schlaf.rollWeg","type":"str"},{"name":"name","value":"Schlaf Weg","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":390,"wires":[],"l":false},{"id":"70734258.493fcc","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"Schl.Str","env":[{"name":"fhemname","value":"schlaf.rollStr","type":"str"},{"name":"name","value":"Schlaf Str","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":765,"y":420,"wires":[],"l":false},{"id":"5198e335.68cac4","type":"ui_button","z":"aa1f09f3.b20558","name":"","group":"12f317c6.04caa8","order":10,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"lightbulb_outline","payload":"off","payloadType":"str","topic":"","x":440,"y":290,"wires":[["19ce5b56.0ca635","34e4e3aa.4d6c8c"]]},{"id":"86e36235.49ab5","type":"inject","z":"d4053697.493c7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"setMode","payload":"0","payloadType":"num","x":270,"y":80,"wires":[["991b01f9.9e0108"]]},{"id":"4547ae21.16803","type":"ui_text","z":"aa1f09f3.b20558","group":"12f317c6.04caa8","order":8,"width":"4","height":"1","name":"sz abend","label":"Szene Abend","format":"","layout":"row-left","x":310,"y":270,"wires":[]},{"id":"ec77f02f.b0e2c","type":"mqtt in","z":"5d53e9ec.28daa","name":"","topic":"fhem/+/+/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":75,"y":660,"wires":[["fc0b59db.9150d"]],"l":false},{"id":"baaa980a.bfb9d8","type":"ui_button","z":"5d53e9ec.28daa","name":"dn","group":"980dd498.72f598","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_drop_down","payload":"0","payloadType":"str","topic":"","x":440,"y":690,"wires":[["328fc2f1.1ef9b6"]]},{"id":"c5871c88.f6249","type":"ui_button","z":"5d53e9ec.28daa","name":"up","group":"980dd498.72f598","order":5,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_drop_up","payload":"100","payloadType":"str","topic":"","x":440,"y":720,"wires":[["328fc2f1.1ef9b6"]]},{"id":"ff13f41e.0117c8","type":"ui_button","z":"5d53e9ec.28daa","name":"stop","group":"980dd498.72f598","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"stop","x":440,"y":750,"wires":[["328fc2f1.1ef9b6"]]},{"id":"f6806708.1b9ed","type":"ui_button","z":"5d53e9ec.28daa","name":"slot","group":"980dd498.72f598","order":6,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"dehaze","payload":"50","payloadType":"str","topic":"","x":440,"y":780,"wires":[["328fc2f1.1ef9b6"]]},{"id":"e7038b45.45fb1","type":"ui_text","z":"5d53e9ec.28daa","group":"980dd498.72f598","order":2,"width":"2","height":"1","name":"state","label":"{{msg.payload}}</small>","format":"","layout":"row-left","x":440,"y":660,"wires":[]},{"id":"fc0b59db.9150d","type":"function","z":"5d53e9ec.28daa","name":"state","func":"\n// mqtt topic in fhemname wandeln\nlet ts=msg.topic.split('/');\nif(ts[0]!='fhem' || ts[3]!='state') return;\nlet fhemname=ts[1]+'.'+ts[2];\n// save state\nlet state=flow.get('rollstate');\nstate[fhemname]=msg.payload;\nflow.set('rollstate', state);\n\n//node.warn(`rollstate:${JSON.stringify(state)}`);\n\nif(fhemname===flow.get('rollselect')) return msg;\n\nreturn;\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('rollstate', {});\nflow.set('rollselect', 'ess.roll');","finalize":"","x":220,"y":660,"wires":[["e7038b45.45fb1"]]},{"id":"e325b33.b95e75","type":"mqtt in","z":"30d8cc93.fb7a64","name":"","topic":"${fhemmqtt}","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":205,"y":100,"wires":[["f6dab37a.eb61e"]],"l":false},{"id":"5b4619b8.25f4d8","type":"ui_button","z":"30d8cc93.fb7a64","name":"e-dn","group":"980dd498.72f598","order":9,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_drop_down","payload":"0","payloadType":"str","topic":"","x":640,"y":130,"wires":[[]]},{"id":"20da3fb1.1a0838","type":"ui_button","z":"30d8cc93.fb7a64","name":"e-up","group":"980dd498.72f598","order":10,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_drop_up","payload":"100","payloadType":"str","topic":"","x":640,"y":160,"wires":[[]]},{"id":"e18ea8fd.03c95","type":"ui_button","z":"30d8cc93.fb7a64","name":"e-stop","group":"980dd498.72f598","order":8,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"","payloadType":"str","topic":"stop","x":640,"y":190,"wires":[[]]},{"id":"5a6b84cf.d91704","type":"ui_button","z":"30d8cc93.fb7a64","name":"e-slot","group":"980dd498.72f598","order":11,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"dehaze","payload":"50","payloadType":"str","topic":"","x":640,"y":220,"wires":[[]]},{"id":"fa1441fc.7337e","type":"ui_text","z":"30d8cc93.fb7a64","group":"980dd498.72f598","order":7,"width":"2","height":"1","name":"e-lab","label":"{{msg.label}}","format":"","layout":"row-left","x":640,"y":100,"wires":[]},{"id":"f6dab37a.eb61e","type":"function","z":"30d8cc93.fb7a64","name":"state","func":"msg.topic='state';\nmsg.label=`${env.get('label')}<p><small>${msg.payload}</small>`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":100,"wires":[["fa1441fc.7337e"]]},{"id":"a61af67d.db6f28","type":"inject","z":"30d8cc93.fb7a64","name":"init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"??","payloadType":"str","x":360,"y":150,"wires":[["f6dab37a.eb61e"]]},{"id":"f6525996.0ad6e","type":"ui_dropdown","z":"5d53e9ec.28daa","name":"select","label":"","tooltip":"","place":"Select option","group":"980dd498.72f598","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Esszimmer","value":"ess.roll","type":"str"},{"label":"Terrasse rechts","value":"wohn.rollTerrR","type":"str"},{"label":"Terrasse links","value":"wohn.rollTerrL","type":"str"},{"label":"Wohnzimmer Sofa","value":"wohn.rollSofa","type":"str"},{"label":"Küche Bar","value":"kuch.rollBar","type":"str"},{"label":"Küche Straße","value":"kuch.rollStr","type":"str"},{"label":"Arbeitszimmer Str","value":"arb.rollTerr","type":"str"},{"label":"Arbeitszimmer Weg","value":"arb.rollWeg","type":"str"},{"label":"Bad","value":"bad.roll","type":"str"},{"label":"Schlafzimmer Weg","value":"schlaf.rollWeg","type":"str"},{"label":"Schlafzimmer Str","value":"schlaf.rollStr","type":"str"}],"payload":"","topic":"","x":440,"y":610,"wires":[["29ea5a48.ebbf06"]]},{"id":"328fc2f1.1ef9b6","type":"change","z":"5d53e9ec.28daa","name":"select","rules":[{"t":"set","p":"fhemname","pt":"msg","to":"rollselect","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":720,"wires":[["dade47a5.10e7c8"]]},{"id":"dade47a5.10e7c8","type":"subflow:6b5e0528.961f24","z":"5d53e9ec.28daa","name":"roll","env":[{"name":"name","value":"roll","type":"str"},{"name":"twait","value":"40","type":"str"}],"x":745,"y":720,"wires":[],"l":false},{"id":"29ea5a48.ebbf06","type":"function","z":"5d53e9ec.28daa","name":"sel","func":"\nlet sel=msg.payload;\nflow.set('rollselect', sel);\n\nlet states=flow.get('rollstate');\n//node.log(`sel:${sel} rollstate:${JSON.stringify(states)}`);\n\nlet state=states[sel];\nif(typeof(state)==='undefined') {\n    state='??';\n}\nmsg.payload=state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":610,"wires":[["e7038b45.45fb1"]]},{"id":"426a5686.30a4b8","type":"comment","z":"5d53e9ec.28daa","name":"Rollladen Status / manuelle Steuerung","info":"","x":180,"y":610,"wires":[]},{"id":"6c884e78.69062","type":"comment","z":"5d53e9ec.28daa","name":"Rollladen Zeit-/Sonnensteuerung","info":"","x":170,"y":30,"wires":[]},{"id":"7259b8ed.40eba8","type":"function","z":"d4053697.493c7","name":"once","func":"\nlet next=msg.payload;\nlet last=context.get('last');\n\n// denselben Wert nicht mehrmals senden\nif(last==next) return;\n\ncontext.set('last', next);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('last', -1);","finalize":"","x":700,"y":150,"wires":[[]]},{"id":"fa9b4cb4.4c1e78","type":"ui_switch","z":"aa1f09f3.b20558","name":"","label":"Küche","tooltip":"","group":"12f317c6.04caa8","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"fhem/cmnd","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":400,"y":560,"wires":[["f9680874.3b566"]]},{"id":"1d31e0a.2d91c9f","type":"mqtt out","z":"aa1f09f3.b20558","name":"","topic":"fhem/cmnd","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":875,"y":560,"wires":[],"l":false},{"id":"63774a30.9db32c","type":"mqtt in","z":"aa1f09f3.b20558","name":"Küche","topic":"fhem/kuch/dimm/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":90,"y":560,"wires":[["fa9b4cb4.4c1e78"]]},{"id":"f9680874.3b566","type":"function","z":"aa1f09f3.b20558","name":"2fhem","func":"\nreturn { payload: \"set kueche.dimm \" +msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":560,"wires":[["1d31e0a.2d91c9f"]]},{"id":"d5e36651.04877","type":"mqtt in","z":"aa1f09f3.b20558","name":"KücheBM","topic":"fhem/kuch/bm/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":100,"y":600,"wires":[["21bb9597.4f7f22"]]},{"id":"21bb9597.4f7f22","type":"function","z":"aa1f09f3.b20558","name":"nacht?","func":"\nif(!global.get('bright')) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":600,"wires":[["d6e2164e.1abc38"]]},{"id":"10fd45f.1878fba","type":"function","z":"71362dd5.7e03dc","name":"set weekend","func":"const now = new Date();\nconst day = now.getDay();\n//node.warn(`weekday:${day}`);\nswitch(day) {\n    case 6 : // Sa\n\tcase 0 : // So\n\t    global.set('weekend', true);\n\t    break;\n\tdefault:\n\t    global.set('weekend', false);\n}\nreturn;","outputs":0,"noerr":0,"initialize":"","finalize":"","x":460,"y":40,"wires":[]},{"id":"9150099d.f8773","type":"inject","z":"71362dd5.7e03dc","name":"0:03","props":[{"p":"payload"}],"repeat":"","crontab":"03 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":70,"wires":[["10fd45f.1878fba"]]},{"id":"ca4dca89.7dd1b8","type":"inject","z":"71362dd5.7e03dc","name":"start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":40,"wires":[["10fd45f.1878fba"]]},{"id":"21855c56.c62a8c","type":"debug","z":"71362dd5.7e03dc","d":true,"name":"sunpos","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":445,"y":180,"wires":[],"l":false},{"id":"23e4f6cd.887b92","type":"clock-timer","z":"71362dd5.7e03dc","name":"","topic":"suntimer","positionConfig":"9cdd0771.1cfdb8","outputs":"1","autoTrigger":true,"autoTriggerTime":1200000,"startDelayTime":"1000","storeName":"","overwriteExpire":"","rules":[{"index":0,"name":"","isValid":false,"valid":{},"timeValue":"blueHourDawnEnd","timeType":"pdsTime","timeOp":0,"timeOpText":"↥ bis","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"payloadValue":"false","payloadType":"bool","payloadOffsetValue":"","payloadOffsetType":"none","payloadOffsetMultiplier":60000,"payloadFormat":99,"topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↥ bis <var>Blaue Morgenstunde Ende</var></div><div><div class=\"indent-payload-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>Payload:</span> <var>false</var></div></div>","timeMinOp":0,"timeMaxOp":0},{"index":1,"name":"","isValid":false,"valid":{},"timeValue":"sunset","timeType":"pdsTime","timeOp":1,"timeOpText":"↧ von","offsetValue":"","offsetType":"none","multiplier":60000,"timeDays":"*","timeMonths":"*","timeOnlyEvenDays":false,"timeOnlyOddDays":false,"timeDateStart":"","timeDateEnd":"","timeMinValue":"","timeMinType":"none","offsetMinValue":"","offsetMinType":"none","multiplierMin":60000,"timeMaxValue":"","timeMaxType":"none","offsetMaxValue":"","offsetMaxType":"none","multiplierMax":60000,"payloadValue":"false","payloadType":"bool","payloadOffsetValue":"","payloadOffsetType":"none","payloadOffsetMultiplier":60000,"payloadFormat":99,"topic":"","importance":0,"resetOverwrite":false,"validOperandAValue":"","validOperandAType":"none","validOperator":"true","validOperatorText":"ist true","validOperandBValue":"","validOperandBType":"num","valid2LogOperator":0,"valid2LogOperatorText":"N/A","valid2OperandAValue":"","valid2OperandAType":"msg","valid2Operator":"true","valid2OperatorText":"ist true","valid2OperandBValue":"","valid2OperandBType":"num","description":"<div><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> ↧ von <var>Sonnenuntergang Ende</var></div><div><div class=\"indent-payload-text\"><i class=\"fa fa-step-backward\" aria-hidden=\"true\"></i> <span>Payload:</span> <var>false</var></div></div>","timeMinOp":0,"timeMaxOp":0}],"payloadDefault":"true","payloadDefaultType":"bool","payloadDefaultTimeFormat":0,"payloadDefaultOffset":0,"payloadDefaultOffsetType":"none","payloadDefaultOffsetMultiplier":60000,"x":300,"y":150,"wires":[["21855c56.c62a8c","38e2ce21.44a3ca"]]},{"id":"38e2ce21.44a3ca","type":"change","z":"71362dd5.7e03dc","name":"set bright","rules":[{"t":"set","p":"bright","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":150,"wires":[["5e7fdd3.286d524"]]},{"id":"5e7fdd3.286d524","type":"ui_text","z":"71362dd5.7e03dc","group":"ee8f746c.a7211","order":8,"width":0,"height":0,"name":"","label":"Tag","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":150,"wires":[]},{"id":"693758b.18d5d28","type":"inject","z":"a0bc08fa.831148","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"out_temp","payloadType":"str","x":55,"y":590,"wires":[["be6ac9b0.b3f09"]],"l":false},{"id":"b84f30fb.7534f8","type":"mqtt in","z":"aa1f09f3.b20558","name":"EssBM","topic":"fhem/ess/bm/state","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":90,"y":500,"wires":[["49cd2142.f70bb","6b7aa939.b5f8b"]]},{"id":"7d86f3f5.f39a9c","type":"mqtt out","z":"aa1f09f3.b20558","name":"","topic":"fhem/cmnd","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":875,"y":360,"wires":[],"l":false},{"id":"d6e2164e.1abc38","type":"trigger","z":"aa1f09f3.b20558","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":600,"wires":[["f9680874.3b566"]]},{"id":"3e7f4ef7.e22b92","type":"mqtt in","z":"98d1d6d3.533d8","name":"Wind","topic":"fhem/terrasse/wetter/Wind-Gust","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":130,"y":600,"wires":[["18cf77fa.3e3168","3b5164c3.ccb4b4"]]},{"id":"18cf77fa.3e3168","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"","measurement":"wind","precision":"m","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":600,"wires":[],"l":false},{"id":"8c2de26d.f256b8","type":"mqtt in","z":"98d1d6d3.533d8","name":"Regen","topic":"fhem/terrasse/wetter/Rain-total","qos":"2","datatype":"auto","broker":"7ba92310.5f9f9c","x":130,"y":640,"wires":[["dfbd060.3ed12f8"]]},{"id":"dfbd060.3ed12f8","type":"influxdb out","z":"98d1d6d3.533d8","influxdb":"b550babf.70f108","name":"","measurement":"rain","precision":"m","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":275,"y":640,"wires":[],"l":false},{"id":"3b5164c3.ccb4b4","type":"debug","z":"98d1d6d3.533d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"f87e9426.d9741","type":"sun-position","z":"71362dd5.7e03dc","name":"","positionConfig":"9cdd0771.1cfdb8","rules":[],"onlyOnChange":"true","topic":"sunpos","outputs":1,"start":"civilDawn","startType":"pdsTime","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"civilDusk","endType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":290,"y":220,"wires":[["d737312.e23d65"]]},{"id":"547abdca.542dcc","type":"inject","z":"71362dd5.7e03dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"28800","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":145,"y":220,"wires":[["f87e9426.d9741"]],"l":false},{"id":"1dc5af39.ec6119","type":"ui_text","z":"71362dd5.7e03dc","group":"6c9a8770.69d218","order":11,"width":0,"height":0,"name":"","label":"Sonne ","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":220,"wires":[]},{"id":"d737312.e23d65","type":"function","z":"71362dd5.7e03dc","name":"civil","func":"\n//node.log(`pl: ${msg.payload}`);\nconst dm=new Date(msg.payload.times.civilDawn.value);\nconst da=new Date(msg.payload.times.civilDusk.value);\nconst tm=dm.toLocaleTimeString('local', {hour:\"numeric\",minute:\"numeric\"});\nconst ta=da.toLocaleTimeString('local', {hour:\"numeric\",minute:\"numeric\"});\n\nmsg.payload=`${tm}&uarr; &darr;${ta}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["1dc5af39.ec6119"]]},{"id":"4aba4a82.ba9384","type":"function","z":"71362dd5.7e03dc","name":"","func":"let d = new Date();\nmsg.payload=d.toLocaleTimeString('local',\n                {hour:\"numeric\",minute:\"numeric\"});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":280,"wires":[["ee0f5393.a6c64"]]},{"id":"fa93e9ac.9b207","type":"inject","z":"71362dd5.7e03dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":280,"wires":[["4aba4a82.ba9384"]]},{"id":"ee0f5393.a6c64","type":"ui_text","z":"71362dd5.7e03dc","group":"980dd498.72f598","order":5,"width":0,"height":0,"name":"","label":"Zeit","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":280,"wires":[]},{"id":"a88a3da5.222608","type":"pioneer-avr-out","z":"e19011a1.5e7418","name":"AVR","server":"13fbce27.db5682","x":550,"y":120,"wires":[]},{"id":"53a515bb.1367e4","type":"inject","z":"e19011a1.5e7418","name":"on","props":[{"p":"payload.on","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":120,"wires":[["a88a3da5.222608"]]},{"id":"ace41c01.28071","type":"inject","z":"e19011a1.5e7418","name":"off","props":[{"p":"payload.on","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":160,"wires":[["a88a3da5.222608"]]},{"id":"273bb3a0.62f024","type":"mqtt out","z":"aa1f09f3.b20558","name":"Dimmer","topic":"shellies/schlaf/licht/relay/0/command","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":875,"y":660,"wires":[],"l":false},{"id":"1525e42c.3e65ac","type":"ui_switch","z":"aa1f09f3.b20558","name":"Schlafzimmer","label":"Schlafzimmer","tooltip":"","group":"12f317c6.04caa8","order":7,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":430,"y":660,"wires":[["273bb3a0.62f024"]]},{"id":"3842290e.116d8e","type":"mqtt in","z":"aa1f09f3.b20558","name":"Dimmer Power","topic":"shellies/schlaf/licht/relay/0","qos":"2","datatype":"utf8","broker":"7ba92310.5f9f9c","x":55,"y":660,"wires":[["1525e42c.3e65ac"]],"l":false},{"id":"49cd2142.f70bb","type":"function","z":"aa1f09f3.b20558","name":"nacht?","func":"\nif(!global.get('bright')) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":500,"wires":[["f9803960.f17408","6b7aa939.b5f8b"]]},{"id":"f9803960.f17408","type":"trigger","z":"aa1f09f3.b20558","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":500,"y":500,"wires":[["ffebbae5.df8ef8","6b7aa939.b5f8b"]]},{"id":"6b7aa939.b5f8b","type":"debug","z":"aa1f09f3.b20558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":540,"wires":[]},{"id":"2497337b.e96dbc","type":"inject","z":"aa1f09f3.b20558","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":540,"wires":[["f9803960.f17408"]]},{"id":"2de8d5ea.edfc32","type":"ui_multistate_switch","z":"e19011a1.5e7418","name":"Test","group":"6c9a8770.69d218","order":4,"width":0,"height":0,"label":"switch","options":[{"label":"&darr;","value":"up","valueType":"str"},{"label":"&uarr;","value":"option_1","valueType":"str"},{"label":"D","value":"option_2","valueType":"str"},{"label":"E","value":"option_3","valueType":"str"}],"x":410,"y":260,"wires":[[]]},{"id":"4c367d70.0da27c","type":"influxdb out","z":"b0208d5a.6407e","influxdb":"b550babf.70f108","name":"","measurement":"pow_ebike","precision":"s","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":565,"y":240,"wires":[],"l":false},{"id":"5564d071.cc1a78","type":"function","z":"b0208d5a.6407e","name":"Pow!=0","func":"if(msg.payload>0) return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":240,"wires":[["4c367d70.0da27c"]],"icon":"font-awesome/fa-question-circle-o"},{"id":"496793c9.d2dd2c","type":"ui_switch","z":"b0208d5a.6407e","name":"level on","label":"","tooltip":"","group":"ee8f746c.a7211","order":2,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"on","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":440,"y":400,"wires":[["e9d39a8e.5e8188"]]},{"id":"3981c903.82ea7e","type":"debug","z":"b0208d5a.6407e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":150,"wires":[]},{"id":"7697c8de.f89fd","type":"mqtt out","z":"aa1f09f3.b20558","name":"Dimmer","topic":"shellies/wohn/licht/relay/0/command","qos":"","retain":"","broker":"7ba92310.5f9f9c","x":875,"y":710,"wires":[],"l":false},{"id":"3df6954f.342822","type":"ui_switch","z":"aa1f09f3.b20558","name":"Wohnzimmer","label":"Wohnzimmer","tooltip":"","group":"12f317c6.04caa8","order":7,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":420,"y":710,"wires":[["7697c8de.f89fd"]]},{"id":"379a78bc.f08938","type":"mqtt in","z":"aa1f09f3.b20558","name":"Dimmer Power","topic":"shellies/wohn/licht/relay/0","qos":"2","datatype":"utf8","broker":"7ba92310.5f9f9c","x":55,"y":710,"wires":[["3df6954f.342822"]],"l":false},{"id":"b531425f.7a8b3","type":"link in","z":"5d53e9ec.28daa","name":"temp Bad","links":["61cc8599.c265cc"],"x":110,"y":300,"wires":[["16aa9c7d.27f88c"]],"l":true},{"id":"1f967ea2.e12d59","type":"link in","z":"5d53e9ec.28daa","name":"temp Schlaf","links":["d0816dd8.56c0b8"],"x":120,"y":340,"wires":[["732c7c4c.67481c","bbfb7d6a.2af8a8"]],"l":true},{"id":"3fa6c38.097b63c","type":"link in","z":"5d53e9ec.28daa","name":"temp Studio","links":["7bfef47d.27e354"],"x":120,"y":260,"wires":[["6fbe8bc6.d0b294","cdd2f4fd.1f49c"]],"l":true},{"id":"4cf02951.ceef98","type":"ui_numeric","z":"b0208d5a.6407e","name":"khw_stop","label":"Abschalten >","tooltip":"","group":"ee8f746c.a7211","order":5,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"kwhstop","topicType":"str","format":"{{value| number:2}} kwh","min":0,"max":"1","step":"0.05","x":440,"y":40,"wires":[["a1fe0351.b3d65"]]},{"id":"a1fe0351.b3d65","type":"function","z":"b0208d5a.6407e","name":"kwhstop","func":"\nconst kwhstop   = context.get('kwhstop', 'bank1');\nconst kwhstopon = context.get('kwhstopon', 'bank1');\nlet msg_act=null, msg_lab_on=null, msg_lab_val=null;\n\nswitch(msg.topic) {\n    case \"init\": {\n        const msg_lab_val={payload: kwhstop};\n        const msg_lab_on ={payload: kwhstopon};\n        break;\n    }    \n    case \"kwhstop\": {\n        context.set('kwhstop', msg.payload, 'bank1');\n        break;\n    }    \n    case \"on\": {\n        //node.warn(\"on\")\n        const on=msg.payload;\n        context.set('kwhstopon', on, 'bank1');\n        break;\n    }\n    default: {\n        let kwhtoday=msg.payload.Today;\n        //node.warn(`kwh:${kwhtoday} on:${kwhstopon} stop:${kwhstop}`);\n        if(kwhstopon && (kwhtoday>kwhstop)) {\n            //node.warn(\"STOP\");\n            msg_act={ payload: 0 };\n        }\n    }\n    return[ msg_act, msg_lab_val, msg_lab_on];\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[["28993615.819792"],["4cf02951.ceef98"],["f68c6e07.114e7"]]},{"id":"f68c6e07.114e7","type":"ui_switch","z":"b0208d5a.6407e","name":"khwstopon","label":"","tooltip":"","group":"ee8f746c.a7211","order":4,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"on","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":450,"y":120,"wires":[["a1fe0351.b3d65"]]},{"id":"64b87110.db6978","type":"inject","z":"b0208d5a.6407e","name":" init","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"init","payloadType":"str","x":230,"y":80,"wires":[["a1fe0351.b3d65"]]},{"id":"f1fc7e6c.5dfc1","type":"function","z":"b0208d5a.6407e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":745,"y":280,"wires":[["c14e0f2.dc8edf","3981c903.82ea7e"]],"l":false},{"id":"b09c8369.326e88","type":"debug","z":"98d1d6d3.533d8","name":"Tempout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":50,"wires":[]},{"id":"86277aa8.d50328","type":"inject","z":"d4053697.493c7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"setMode","payload":"0","payloadType":"num","x":270,"y":40,"wires":[["85fd8ca4.b32fa"]]}]